<!-- INSERT THE FOLLOWING DIRECTLY AFTER IPX-HEADER -->
<div class="d-flex flex-column flex-grow-1">
  <div class="ipx-intro py-5 home-map">
    <div class="container-large container-home-share d-flex">
      <!-- INSERT CAROUSEL SHARE (infoshare-carousels.html) -->
    </div>
  </div> 
  <div class="container-large flex-grow-1 ipx-content mt-0">
    <section class="homeblock">
      <!-- INSERT IMPORTANT CAROUSEL (important-carousel.html) -->
    </section>
    <section class="homeblock">
      <!-- INSERT HIGH ACTIVITY CAROUSEL (high-cards-carousel.html) -->
    </section>
    <section class="homeblock">
      <!-- INSERT EVENTS CAROUSEL (events-carousel.html) -->
    </section>
    <section class="homeblock">
      <!-- INSERT NEWS CAROUSEL (news-carousel.html) -->
    </section>
    <section class="homeblock">
      <!-- INSERT GALLERY -->
    </section>
    <section class="homeblock noborder videoblock d-flex mt-4">
      <!-- INSERT VIDEO BLOCK -->
    </section>
    <section class="homeblock noborder mt-4">
      <!-- INSERT SUBSCRIPTIONS BLOCK -->
    </section>
    <div class="page-divider my-5 mx-auto"></div>
    <!-- INSERT IPEX WIDGET -->
  </div>
</div>