<!-- Without ipx-tags -->
<div class="ipx-card result-item result-item-document">
    <a href="/" class="ipx-card-content w-100">
        <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
            <span class="flex-shrink-0">COM/2006/0147FIN</span>
        </h3>
        <p class="ipx-card-description">
            Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
        </p>
        <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
            <div class="ipx-card-type card-type-event mr-3">
                <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
            </div>
        </div>
    </a>
</div>


<!-- With ipx-tags -->
<div class="ipx-card result-item result-item-document">
    <a href="/" class="ipx-card-content w-100">
        <h3 class="ipx-card-title d-flex flex-column flex-sm-row">
            <span class="flex-shrink-0">COM/2013/0113FIN</span>
            <div class="ipx-tags flex-grow-1 justify-center-end d-flex align-items-center mt-2 mt-sm-0">
                <div class="scrutiny-status flex-grow-1 d-flex justify-content-sm-end">
                    <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                    <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                </div>
            </div>
        </h3>
        <p class="ipx-card-description">
            Proposal for a Council <mark>Regulation</mark> concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to <mark>Regulation</mark> (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff.
        </p>
        <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
            <div class="ipx-card-type card-type-event mr-3">
                <img src="/icons/ipx-icon-documents-small.svg" class="type-icon"><small>Document</small>
            </div>
        </div>
    </a>
</div>