<!-- This uses the ANT COLLAPSE component. Each collapse needs a specific key (Remove/adapt logic from this file) -->
<div class="'ipx-card ipx-card-files flex-column result-item result-item-conferences" >
    <a-collapse @change="changeActivekey" v-model="activeKey">
        <a-collapse-panel :header="title" :key="collapseKey">
            <a-collapse defaultActiveKey="4">
                <a-collapse-panel header="28-29 January Meeting of the Secretaries General of the European Union Parliaments" key="4">
                    <ul class="ipx-list-files justify-content-between" :id="idcol">
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                    </ul>
                </a-collapse-panel>
                <a-collapse-panel header="28-29 January Meeting of the Secretaries General of the European Union Parliaments" key="5">
                    <ul class="ipx-list-files justify-content-between" :id="idcol">
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                        <li class="ipx-card-link">      
                            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
                            <div class="file-metas">
                                <div class="lang-tags">
                                    <span>EN</span> +
                                    <span>FR</span>
                                </div>
                                <span class="file-size">| 381 KB | 04/12/2018</span>
                            </div>
                        </li>
                    </ul>
                </a-collapse-panel>
            </a-collapse>
        </a-collapse-panel>
        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 mb-3 mt-0">
            <div class="ipx-card-type card-type-event mr-3">
                <img :src="'/icons/ipx-icon-'+filetype+'-small.svg'" class="type-icon"><small>{{filetype}} files</small>
            </div>
        </div>
    </a-collapse>
</div>