<div class="ipx-card result-item result-item-news">
    <a href="#" class="ipx-card-content">
        <h3 class="ipx-card-title">On 19 March 2019, the Italian Prime Minister, Giuseppe Conte, gave a statement to the Parliament on the upcoming European Council, to be held on 21 and 22 March.</h3>
        <div class="ipx-card-footer d-flex align-items-end flex-grow-1">
            <div class="ipx-card-type card-type-event mr-3">
                <img src="/icons/ipx-icon-news-small.svg" class="type-icon"><small>News</small>
            </div>
            <small class="d-flex">
                <span class="font-weight-bold mr-2">20/03/2019</span>
                <span>Source: The Italian Senate and Chamber of Deputies</span>
            </small>
        </div>
    </a>
</div>