<a-modal
title="Save this search"
:visible="visible"
@ok="handleOk"
okText="Save this search" cancelText="Cancel"
:confirmLoading="confirmLoading"
@cancel="handleCancel"
>
    <form class="ipx-form">
        <div class="form-row">
            <div class="col-12">
                <label class="has-help" for="searchTitle">Search title
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    
                </label>
                <input v-model="searchTitle" type="text" class="form-control" id="searchTitle" placeholder="Enter a title for your search" value="0" required>
            </div>
            <div class="col-12">
                <label class="has-help" for="searchDescription">Search description
                    <Popover class="popover-help" title="Help title">
                        <template slot="content">
                            <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                        </template>
                        <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                    </Popover>                    
                </label>
                <textarea v-model="searchDescription" class="form-control" id="searchDescription" placeholder="Enter a description for your search" value="" rows="5"></textarea>
            </div>
        </div>
    </form>
</a-modal>