<div class="ipx-content ipx-content-search flex-grow-1 container-large mt-5">
        <!-- INSERT HERE : search-results-header-all.html -->
        <section class="search-results-content container-large d-flex">
            <!-- ANT DRAWER COMPONENT. -->
            <a-drawer
                title="Refine your search"
                :placement="filtersPlacement"
                :closable="false"
                @close="onClose"
                :visible="filtersVisible"
                >
                <aside class="flex-grow-1">
                    <!-- INSERT HERE : results/filters/filters-all.html -->
                </aside>
            </a-drawer>
            <aside class="flex-grow-1 d-none d-lg-flex">
                <!-- INSERT HERE : results/filters/filters-all.html -->
            </aside>
            <main class="flex-grow-1">
                <div class="mobile-buttons d-flex">
                    <!-- This button opens the FILTERS drawer for All (remove logic from this before implementing) -->
                    <button class="btn btn-action btn-flash d-lg-none flex-grow-1 d-flex flex-nowrap align-items-center justify-content-center" @click="showDrawerFilters">Refine search</button>
    
                    <!-- This button opens a dropdown to access the advanced search drawer for each section (remove logic from this before implementing) -->
                    <div class="dropdown mx-2 flex-shrink-0 hover-dropdown my-ipex-dropdown flex-grow-1">
                        <button class="w-100 btn btn-action btn-flash d-lg-none d-flex flex-nowrap align-items-center justify-content-center" type="button" id="advancedMenu">
                            Advanced search in
                        </button>
                        <div class="searchin-dropdown dropdown-menu dropdown-menu-right shadow" aria-labelledby="advancedMenu">
                            <button class="dropdown-item pb-2" @click="emitDrawer('Documents')"><img src="/icons/ipx-icon-documents-small.svg" class="mr-2">Documents</button>
                            <button class="dropdown-item pb-2" @click="emitDrawer('Calendar')"><img src="/icons/ipx-icon-documents-small.svg" class="mr-2">Calendar</button>
                            <button class="dropdown-item pb-2" @click="emitDrawer('Parliaments')"><img src="/icons/ipx-icon-parliament-small.svg" class="mr-2">Parliament files</button>
                            <button class="dropdown-item pb-2" @click="emitDrawer('Conferences')"><img src="/icons/ipx-icon-conferences-small.svg" class="mr-2">Conferences files</button>
                            <button class="dropdown-item pb-4" @click="emitDrawer('News')"><img src="/icons/ipx-icon-news-small.svg" class="mr-2">News</button>
                        </div>
                    </div>
                </div>
                <!-- INSERT HERE : results/lists/list-all.html -->
                <!-- INSERT HERE Load More component -->
            </main>
        </section>
    </div>