<div class="ipx-content ipx-content-search flex-grow-1 container-large mt-5">
    <!-- INSERT HERE : search-results-header-documents.html -->
    <section class="search-results-content container-large d-flex">
        <!-- ANT DRAWER COMPONENT. -->
        <a-drawer
            title="Refine your search"
            :placement="filtersPlacement"
            :closable="false"
            @close="onClose"
            :visible="filtersVisible"
            >
            <aside class="flex-grow-1">
                <!-- INSERT HERE : results/filters/filters-documents.html -->
            </aside>
        </a-drawer>
        <aside class="flex-grow-1 d-none d-lg-flex">
            <!-- INSERT HERE : results/filters/filters-documents.html -->
        </aside>
        <main class="flex-grow-1">
            <div class="mobile-buttons d-flex">
                <!-- This button opens the FILTERS drawer for Documents (remove logic from this before implementing) -->
                <button class="btn btn-action btn-flash d-lg-none flex-grow-1 d-flex flex-nowrap align-items-center justify-content-center" @click="showDrawerFilters">Refine search</button>

                <!-- This button opens the advanced search drawer for Documents (remove logic from this before implementing) -->
                <button class="btn btn-action btn-flash flex-grow-1 d-flex d-lg-none flex-nowrap align-items-center justify-content-center" @click="emitDrawer('Documents')" type="button" id="advancedMenu">
                    Edit search options
                </button>
            </div>
            <!-- INSERT HERE : results/lists/list-documents.html -->
            <!-- INSERT HERE Load More component -->
        </main>
    </section>
</div>