<div class="ipx-drawer">
    <aside class="sidebar" :style="style" ref="element">
        <h2 class="drawer-title shadow-sm px-2 px-lg-5 pt-0">
            <img src="/icons/ipx-icon-search-small.svg" class="ml-3" alt="Search">
            <span>Advanced search</span>
            <span class="drawer-title-text flex-grow-1">
                <!-- insert section title here. (Documents, Calendar, Parliaments, etc.) -->
            </span>
            <i class="material-icons md-36 mr-2">clear</i><!-- Close drawer on click -->
        </h2>
        <div class="drawer-body px-2 px-lg-5">
            <!-- INSERT SECTION ADVANCED SEARCH FORM -->
        </div>
        <div class="drawer-bottom shadow px-3 px-lg-5">
            <button class="btn btn-large btn-action">Cancel</button><!-- Close drawer on click -->
            <a href="/advanced-search/results-documents" class="btn btn-large btn-action btn-flash">Search</a>
        </div>
    </aside>
    <div class="overlay" ref="overlay"></div>
</div>