<section>
    <h2 class="section-title mt-3">Information of Interparliamentary Exchanges</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia illum, non delectus vero ipsam rerum enim vitae error consequatur reprehenderit ipsa, eius similique unde obcaecati accusamus ab perspiciatis quibusdam nesciunt.</p>
    <p>Nulla consequatur laboriosam cumque architecto error quidem vitae doloribus assumenda ipsa at delectus accusamus maiores, aliquam voluptas quibusdam molestias quia, repudiandae tenetur facilis. Excepturi, quos obcaecati soluta facere error ipsum. Et, adipisci minima eos temporibus neque quis odit itaque dolor, tenetur voluptatibus corrupti, velit harum. Fugiat iste aliquid sit dolores eaque tempore quia, aliquam perspiciatis, quidem dolore temporibus maxime vel.</p>
    <p>Nulla consequatur laboriosam cumque architecto error quidem vitae doloribus assumenda ipsa at delectus accusamus maiores, aliquam voluptas quibusdam molestias quia, repudiandae tenetur facilis. Excepturi, quos obcaecati soluta facere error ipsum. Et, adipisci minima eos temporibus neque quis odit itaque dolor, tenetur voluptatibus corrupti, velit harum. Fugiat iste aliquid sit dolores eaque tempore quia, aliquam perspiciatis, quidem dolore temporibus maxime vel.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores officiis aspernatur, consequatur at, modi adipisci hic molestias iste aut ducimus eius in illum repudiandae deleniti harum impedit et autem sequi.</p>
    <h2 class="section-title d-flex align-items-center justify-content-between mt-0" data-toggle="collapse" href="#collapseFiles" role="button" aria-expanded="true" aria-controls="collapseFiles">
        Documents
        <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
            <i class="material-icons md-36">keyboard_arrow_down</i>
        </button>
    </h2>
    <ul class="ipx-list-files justify-content-between collapse show" :id="idcol">
        <li class="ipx-card-link">      
            <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Research Paper number one</a>
            <div class="file-metas">
                <div class="lang-tags">
                    <span>en</span> +
                    <span>fr</span>
                </div>
                <span class="file-size">| 2.1 Mb | 04/12/2018</span>
            </div>
        </li>
        <li class="ipx-card-link">      
            <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions about IPEX meeting</a>
            <div class="file-metas">
                <div class="lang-tags">
                    <span>fr</span>
                </div>
                <span class="file-size">| 381 KB | 04/12/2018</span>
            </div>
        </li>
        <li class="ipx-card-link">      
            <a href="#" class="ipx-link-title"><span class="file-type file-type-html">html</span>Newsletter</a>
            <div class="file-metas">
                <div class="lang-tags">
                    <span>en</span> +
                    <span>fr</span>
                </div>
                <span class="file-size">| 248 KB | 04/12/2018</span>
            </div>
        </li>

    </ul>
</section>