<section>
    <div class="linked-pages">
        <h2 class="section-title d-flex align-items-center justify-content-between mt-0" data-toggle="collapse"
            href="#collapseFiles" role="button" aria-expanded="true" aria-controls="collapseFiles">
            Linked IPEX pages
            <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
                <i class="material-icons md-36">keyboard_arrow_down</i>
            </button>
        </h2>
        <ul>
            <li>
                <a class="d-flex" href="/newcontentindication" title="German Bundestag | Parliament details">
                    <div class="d-flex flex-column flex-grow-1">
                        <span>German Bundestag</span>
                        <span class="page-type">Parliament Details</span>
                    </div>
                    <span class="material-icons">arrow_forward</span>
                </a>
            </li>
            <li>
                <a class="d-flex" href="/newcontentindication" title="German Bundestag | Parliament details">
                    <div class="d-flex flex-column flex-grow-1">
                        <span>Government Statement of Chancellor Angela Merkel and lively debate with regard to upcoming
                            European Council</span>
                        <span class="page-type">News</span>
                    </div>
                    <span class="material-icons">arrow_forward</span>
                </a>
            </li>
            <li>
                <a class="d-flex" href="/newcontentindication" title="German Bundestag | Parliament details">
                    <div class="d-flex flex-column flex-grow-1">
                        <span>COM321654/987</span>
                        <span class="page-type">Document</span>
                    </div>
                    <span class="material-icons">arrow_forward</span>
                </a>
            </li>
        </ul>
    </div>
</section>