<!-- Insert this after the breadcrumb -->
<div class="ipx-intro newcontentbox">
    <div class="container-regular d-flex">
        <div class="d-flex flex-column w-100 pt-md-2">
            <span class="link-icon material-icons mr-2">link</span>
            <h1 class="mt-3 mt-md-0">New content title</h1>
            <div class="nc-summary">
                <p>New content description lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, laboriosam
                    exercitationem quidem error illum magni eaque consequuntur nesciunt perferendis harum id aperiam
                    iusto cumque, quibusdam, iste eveniet? Nesciunt, culpa sapiente?</p>
                <div class="newcontent-metas">
                    <div class="author d-flex align-items-start align-items-md-center flex-column flex-md-row">
                        <span class="nc-label mr-2">Author:</span>
                        <div class="d-flex flex-wrap mb-2 mb-md-0">
                            <span class="badge">John Doe-Smith</span>
                        </div>
                    </div>
                    <div class="produced d-flex align-items-start align-items-md-center flex-column flex-md-row">
                        <span class="nc-label mr-2">Produced by:</span>
                        <div class="d-flex flex-wrap mb-2 mb-md-0">
                            <span class="badge">
                                Hellenic Parliament
                                <img src="/img/flags/gr.svg" class="flag nc-flag flag-xs ml-2">
                            </span>
                            <span class="badge">
                                German Bundestag
                                <img src="/img/flags/de.svg" class="flag nc-flag flag-xs ml-2">
                            </span>
                        </div>
                    </div>
                    <div class="keywords d-flex align-items-start align-items-md-center flex-column flex-md-row">
                        <span class="nc-label mr-2">Associated with:</span>
                        <div class="d-flex flex-wrap mb-2 mb-md-0">
                            <span class="badge mr-2">Brexit</span>
                            <span class="badge mr-2">EU Affairs</span>
                            <span class="badge mr-2">EU Policy of the Foreign Affairs</span>
                            <span class="badge mr-2">Data test lorem</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>