<form class="ipx-form ipx-search-form">
    <div class="form-row">
        <div class="col-12 pb-0">
           <h2 class="section-title pt-0 pl-1">Search in Calendar</h2>
       </div>
       <div class="col-12">
           <label class="has-help" for="inputEmail4">Search term
               <Popover class="popover-help" title="Help title">
                   <template slot="content">
                       <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                   </template>
                   <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
               </Popover>
           </label>
           <InputLarge  value="" autofocus="true" :id="'SearchEvents'" :placeholder="'Enter search term'" :button="'Search'" :hasButton="false" :linkButton="'/advanced-search/results'"/>
       </div>
   </div>
    <div class="form-row d-flex align-items-start mt-3">
        <div class="col-sm-6 form-group d-flex flex-column">
            <label class="has-help" for="inputNumber">When
                <Popover class="popover-help" title="Help title">
                    <template slot="content">
                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                    </template>
                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                </Popover>
            </label>
            <a-select defaultValue="Upcoming events">
                <a-select-option value="Upcoming events">Upcoming events</a-select-option>
                <a-select-option value="lucy">Lucy</a-select-option>
                <a-select-option value="disabled">Disabled</a-select-option>
                <a-select-option value="Yiminghe">yiminghe</a-select-option>
            </a-select>
        </div>
        <div class="col-sm-6 form-group d-flex flex-column">
            <span class="has-help" for="inputNumber">
                <a-checkbox>Specific date range</a-checkbox>
                <Popover class="popover-help" title="Help title">
                    <template slot="content">
                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                    </template>
                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                </Popover>
            </span>
            <div class="d-flex flex-grow-1">
                <div class="form-group mr-3 ">
                    <a-date-picker/>
                </div>
                <div class="form-group ">
                    <a-date-picker />
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12">
            <div class="form-check form-check-inline mr-4">
                <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="exampleRadios" checked>
                <label class="form-check-label m-0" for="inlineCheckbox1">Events type</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2" name="exampleRadios">
                <label class="form-check-label m-0" for="inlineCheckbox2">Institutions</label>
            </div>
        </div>
        <div class="col-12">
            <a-select defaultValue="Meeting of the Secretaries General of the European Union Parliaments">
                <a-select-option value="Meeting of the Secretaries General of the European Union Parliaments">Meeting of the Secretaries General of the European Union Parliaments</a-select-option>
                <a-select-option value="lucy">Lucy</a-select-option>
                <a-select-option value="disabled">Disabled</a-select-option>
                <a-select-option value="Yiminghe">yiminghe</a-select-option>
            </a-select>
        </div>
    </div>
</form>