<form class="ipx-form ipx-search-form">
    <div class="form-row">
        <div class="col-12 pb-0">
            <h2 class="section-title pt-0 pl-1">Search News</h2>
        </div>
        <div class="form-group col-md-6">
            <label class="has-help" for="inputChamber">Search term
                <Popover class="popover-help" title="Help title">
                    <template slot="content">
                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                    </template>
                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                </Popover>                    
            </label>
            <input class="form-control" type="text" placeholder="Search term">
        </div>
        <div class="form-group col-md-6">
            <label class="has-help" for="inputChamber">Published between
                <Popover class="popover-help" title="Help title">
                    <template slot="content">
                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                    </template>
                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                </Popover>                    
            </label>
            <div class="d-flex flex-grow-1">
                <div class="form-group mr-3 mr-md-0 mb-0">
                    <a-date-picker />
                </div>
                <span class="d-flex align-items-center px-md-3 justify-content-center">to</span>
                <div class="form-group mb-0">
                    <a-date-picker />
                </div>
            </div>
        </div>
        <div class="col-12 form-group"> 
            <label class="has-help" for="inputChamber">From sources
                <Popover class="popover-help" title="Help title">
                    <template slot="content">
                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                    </template>
                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                </Popover>                    
            </label>
            <a-select mode="tags" style="width: 100%" @change="handleChange" placeholder="Tags Mode">
                <a-select-option v-for="i in optionsChambers" :key="i"
                >{{i}}</a-select-option
                >
            </a-select>
        </div>
    </div>
</form>