<!-- 
To be included IN the collapse box of the year filter. 
anchors may be replaced by buttons if you want, as styles target the .year-item class.
Links hrefs, value and attributes should of course be replaced by dynamic content. 
The filter input is an ant-design component. SO do not copy-paste this particular code. It will be different in Angular.
-->

<a-input-search placeholder="Filter years" style="width: 100%" class="filter-input" @search="onSearch" />
<div class="years mt-3">
    <button id="#" class="year-item" title="2010 (27 results)">2010<span>27</span></button>
    <button id="#" class="year-item" title="2011 (19 results)">2011<span>19</span></button>
    <button id="#" class="year-item" title="2012 (22 results)">2012<span>22</span></button>
    <button id="#" class="year-item disabled" title="2013 (101 results)">2013<span>101</span></button>
    <button id="#" class="year-item" title="2014 (66 results)">2014<span>66</span></button>
    <button id="#" class="year-item" title="2015 (50 results)">2015<span>50</span></button>
    <button id="#" class="year-item" title="2016 (17 results)">2016<span>17</span></button>
    <button id="#" class="year-item" title="2017 (35 results)">2017<span>35</span></button>
    <button id="#" class="year-item disabled" title="2018 (255 results)">2018<span>255</span></button>
    <button id="#" class="year-item" title="2019 (7 results)">2019<span>7</span></button>
    <button id="#" class="year-item" title="2020 (96 results)">2020<span>96</span></button>
</div>