<!-- Insert the following after breadcrumb. -->

<!-- PAGE HEADER. icon is available in this folder and should be included in the project in the icons folder. -->
<div class="ipx-intro">
  <div class="container-regular d-flex align-items-center">
    <img
      src="/icons/ipx-icon-lock-large.svg"
      class="ipx-thumb flex-grow-0 flex-shrink-0"
    />
    <div class="d-flex flex-column w-100">
      <h1>Login</h1>
      <p class="lead mb-0 mr-md-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A dolorem
        maxime sapiente, minus voluptatibus vero. Dolor ut reiciendis molestias.
        Alias voluptatem illo a quae sapiente ex molestiae maiores cum illum?
      </p>
    </div>
  </div>
</div>

<!-- IPX-CONTENT -->
<div class="container-regular flex-grow-1 ipx-content">
  <section>
    <form>
      <div class="form-row">
        <h2 class="section-title col-12">Your credentials</h2>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="Your email"
            value="email@example.com"
            required
          />
          <small class="validation-text">Please enter your email</small>
        </div>
        <div class="form-group col-md-6 has-error">
          <label for="inputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Password"
            value="lemotdepasse"
            required
          />
          <small class="validation-text">Your password does not match</small>
        </div>
        <div
          class="form-group col-12 pt-3 d-flex justify-content-between align-items-start"
        >
          <div class="forgot">
            <a class="d-flex align-items-center mb-2" href=""
              >Forgot your password?</a
            >
            <a class="d-flex align-items-center mb-2" href=""
              >Create an account</a
            >
          </div>
          <button
            class="btn btn-action btn-flash btn-large d-flex align-items-center"
          >
            Log in
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
