/* //////////////////////////////////////////////////// */
/* LABELS */
/* //////////////////////////////////////////////////// */
.container-regular,
.ipx-form {
  //overwrites toolkit styles
  label {
    display: inline-block;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.ipx-form {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.section-title {
      padding-top: 1.2rem;
      padding-bottom: 0;
      font-weight: 600;
      font-size: 1.5rem;
      color: @baseflash;
    }
    &.sub-section-title,
    &.form-sub-section {
      font-size: 1.2rem;
      margin-top: 0.5rem;
      font-weight: 700;
      color: #000;
    }
  }
} /*
form {
  .section-title {
    font-size:1.4rem;
  }
  .form-sub-section {
    font-weight: 600;
    font-size: 1.25rem;
    color: #006ed0;
  }
}*/
.has-help {
  display: flex !important;
  align-items: center !important;
  .popover-help {
    display: inline-flex;
    align-items: center;
  }
}

/* //////////////////////////////////////////////////// */
/* INPUTS (form-control) */
/* //////////////////////////////////////////////////// */

.section-ipex,
.ipx-drawer,
.ipex-modal,
.ant-modal.ant-custom {
  .form-control,
  .ant-input {
    border-radius: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid #e5e5e5;
    background: #fff;
    box-shadow: none;
    min-height: 44px;
    font-size: 1rem;
    color: #000;
    &:hover {
      border-color: #acd0f1 !important;
    }

    &:focus {
      border-color: @baseflash !important;
    }

    &.select-ipex {
      display: block;
      box-shadow: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        linear-gradient(to bottom, #fff 0%, #fff 100%);
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;

      &::-ms-expand {
        display: none;
      }

      &:hover {
        border-color: #acd0f1;
      }

      &:focus {
        border-color: @baseflash;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
          linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
        color: #222;
        outline: none;
      }

      option {
        font-weight: normal;
      }
    }

    &.has-button {
      + .btn {
        border-radius: 0 100px 100px 0;
      }

      &.has-append {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;

        + .input-group-append {
          .dropdown-toggle {
            border: none;
            border: 2px solid #e5e5e5;
            border-radius: 0;
            border-right: none;
            border-left: none;
            font-size: 0.95rem;
            display: flex;
            align-items: center;
            padding-right: 1.2rem;

            &::before {
              content: "";
              background: #999;
              height: 20px;
              width: 1px;
              margin-right: 1rem;
            }

            &::after {
              margin-left: 0.5rem;
            }
          }
        }

        &:hover {
          + .input-group-append {
            .dropdown-toggle {
              border-color: #acd0f1;
            }
          }
        }

        &:focus {
          + .input-group-append {
            .dropdown-toggle {
              border-color: @baseflash;
            }
          }
        }
      }
    }

    &.ipx-input-large {
      background: @white;
      height: calc(3.2rem + 2px);
      border-color: lighten(@base, 50%);
      border-width: 2px;
      border-radius: 100px;
      font-size: 1.2rem;
      font-weight: 300;
      padding-left: 1.3rem;
      width: 100%;

      &:focus {
        border-color: @baseflash;
      }

      &.has-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;

        + .btn {
          border-radius: 0 100px 100px 0;
        }
      }
    }

    + small {
      margin-left: 0.5rem;
    }
  }

  textarea {
    &.form-control {
      border-radius: 10px;
    }
  }

  /* //////////////////////////////////////////////////// */
  /* FILTERS */
  /* //////////////////////////////////////////////////// */
  /*
  .form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: .25rem;


    .form-check-input {
      display: inline-flex;
    align-items: center;
      position: static;
      margin-top: 0;
      margin-right: .5rem;
      margin-left: 0;
    }
  }
  */

  .ipx-filters {
    background: white;
    border-radius: 3px;
    label {
      margin-bottom:0 !important;
    }
    &::after {
      display: flex;
      width: 100%;
      height: 3px;
      content: "";
      border-radius: 5px;
      margin-top: 0.5rem;
      margin-bottom: 3rem;
      background: @darkgray;
    }
  }

  /* The switch - the box around the slider */

  .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 26px;
  }

  /* Hide default HTML checkbox */

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  input:checked + .slider {
    background-color: @baseflash;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px @baseflash;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .has-error {
    .form-control {
      border-color: @red;
      background: lighten(@red, 45%); //#fff9f9;
    }

    small {
      color: @red;
    }
  }

  .has-success {
    .form-control {
      border-color: @green;
      background: lighten(@green, 58%);
    }

    small {
      color: @green;
    }
  }

  /* //////////////////////////////////////////////////// */
  /* YELLOW AND ORANGE CARDS */
  /* //////////////////////////////////////////////////// */

  .btn-card-yellow,
  .btn-card-orange {
    background: @gray1;
    border-radius: 100px;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    margin-right: 0 !important;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    //font-weight: 600;
  }

  .btn-card-yellow {
    &.is-selected {
      background: rgb(255, 226, 60);
    }
  }

  .btn-card-orange {
    &.is-selected {
      background: rgb(255, 189, 67);
    }
  }

  /* //////////////////////////////////////////////////// */
  /* A RANGER, TRIER, FIX */
  /* //////////////////////////////////////////////////// */

  .btn-search {
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    background: #f5f5f5;
    text-transform: uppercase;
  }

  .help-icon {
    color: #ddd;
    transition: all 0.3s ease;

    &:hover {
      color: #333;
      cursor: pointer;
    }
  }

  .grayedout {
    opacity: 0.4;
  }

  .form-block {
    padding: 1rem;
    border-radius: 4px;
    background: #f5f5f5;
  }

  /* //////////////////////////////////////////////////// */
  /* ANT CUSTOM */
  /* //////////////////////////////////////////////////// */

  .ant-popover {
    z-index: 1000 !important;
    max-width: 260px;
  }

  .ant-popover-content {
  }

  .ant-popover-arrow {
    border-radius: 0.75rem;
  }

  .ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
    border-color: transparent #006ed0 #006ed0 transparent;
  }

  .ant-popover-inner {
    border-radius: 0.75rem;
    box-shadow: none !important;
  }

  .ant-popover-title {
    font-weight: 700 !important;
    border-radius: 0.75rem 0.75rem 0 0;
    border: 2px solid #006ed0;
    border-bottom: none;
    padding-top: 0.5rem;
  }

  .ant-popover-inner-content {
    color: #000 !important;
    border-radius: 0 0 0.75rem 0.75rem;
    border: 2px solid #006ed0;
    border-top: none;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
  }

  /* SLIDER MULTI RANGE */

  .ant-slider {
    height: 12px;
    margin: 0;
    padding: 4px 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1rem;
  }

  .ant-slider-rail {
    height: 0.35rem;
    border-radius: 1rem;
    background-color: #f1f1f1;
  }

  .ant-slider-track {
    position: absolute;
    height: 0.35rem;
    border-radius: 1rem;
    background-color: #3ca4ff; // #006ed0
  }

  .ant-slider-handle {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.4rem;
    margin-left: -7px;
    border: 2px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
  }

  /* MULTI TAGS */

  /* CHECKBOXES */

  form input[type="checkbox"],
  form input[type="radio"] {
    width: 20px;
    height: 20px;
  }

  .ant-checkbox-inner {
    width: 20px;
    height: 20px;
  }

  .ant-checkbox-wrapper {
    color: #000000;
    //margin-bottom:0 !important;
    + .material-icons {
      margin: 0 !important;
      margin-bottom: 0.5rem !important;
    }
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    transform: rotate(45deg) scale(1.2) translate(-50%, -50%);
  }

  .ant-checkbox-inner::after {
    left: 25%;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    border-color: @baseflash;
    background-color: @baseflash;
  }

  .ant-checkbox-wrapper + span {
    padding-left: 0;
  }

  /*
  .ant-calendar-picker {
    color: #000000;
  }
  .ant-input {
    height: 44px;
    min-height: 44px;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid #e5e5e5;
    border-radius: 5rem;
    background: #fff;
    color: #000000;
    font-size: 1rem;
  }*/

  .ant-calendar-cell {
    height: 30px;
    width: 30px;
    padding: 0;
    color: #000;
  }

  .ant-calendar-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    color: #000;
  }

  .ant-calendar-range .ant-calendar-in-range-cell {
    &:before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 0;
      border-radius: 0;
      background: lighten(@baseflashlight, 30%);
      color: #000 !important;
      content: "";
    }
  }

  .ant-calendar-selected-start-date {
    .ant-calendar-date {
      border-radius: 5rem 0 0 5rem;
    }
  }

  .ant-calendar-selected-end-date {
    .ant-calendar-date {
      border-radius: 0 5rem 5rem 0;
    }
  }

  .ant-calendar-range .ant-calendar-input-wrap {
    position: relative;
    height: 48px;
  }

  .ant-calendar-range .ant-calendar-input,
  .ant-calendar-range .ant-calendar-time-picker-input {
    color: #000;

    transition: all 0.3s;
  }

  .ant-calendar {
    position: relative;

    border: none;
    border-radius: 1.5rem;
    outline: none;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.15) !important;
    font-size: 14px;
    line-height: 1.5;
    list-style: none;
    text-align: left;
  }

  .ant-calendar-input-wrap {
    display: none;
  }

  .ant-calendar-header {
    font-size: 1rem;
    color: #000;
    height: 48px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 48px;
    text-align: center;
    user-select: none;
    border: none;
  }

  .ant-calendar-header .ant-calendar-next-century-btn,
  .ant-calendar-header .ant-calendar-next-decade-btn,
  .ant-calendar-header .ant-calendar-next-month-btn,
  .ant-calendar-header .ant-calendar-next-year-btn,
  .ant-calendar-header .ant-calendar-prev-century-btn,
  .ant-calendar-header .ant-calendar-prev-decade-btn,
  .ant-calendar-header .ant-calendar-prev-month-btn,
  .ant-calendar-header .ant-calendar-prev-year-btn {
    padding: 0 10px;
    color: #000;
    line-height: 48px;
  }

  .ant-calendar-body {
    padding: 1rem;
    margin-top: 3px;
    margin-left: 2px;
  }

  .ant-calendar-header .ant-calendar-century-select,
  .ant-calendar-header .ant-calendar-decade-select,
  .ant-calendar-header .ant-calendar-month-select,
  .ant-calendar-header .ant-calendar-year-select {
    color: #000;
    font-weight: 700;
    line-height: 48px;
  }
}
