<div class="ipx-intro ipx-intro-detail">
    <div class="container  container-small d-flex">
        <a type="button" class="btn btn-action btn-white d-inline-flex align-items-center mr-3 my-4 pl-0" href="/testing/calendar">
            <i class="material-icons mx-2">keyboard_arrow_left</i>Back to list
        </a>
    </div>
</div>