<div class="ipx-intro">
    <div class="container container-small d-flex">
        <img src="/assets/img/sample-small.jpg" alt="Image thumbnail description" class="ipx-thumb flex-grow-0 flex-shrink-0">
        <div class="d-flex flex-column w-100">
            <h1>Sample page title</h1>
            <p class="lead mb-0 mr-md-5">This is a sample CMS page.
                With a title, a description, and a content. Nostrum sint distinctio iusto soluta corrupti suscipit ipsam
                atque modi exercitationem minus! Inventore sapiente reiciendis omnis repellendus perspiciatis totam
                ducimus ipsum pariatur.</p>
            <small class="ipx-thumb-caption">Image: Here comes the description of the featured image.</small>
        </div>
    </div>
</div>