<section>
    <div class="d-flex justify-content-between align-items-center w-100 flex-wrap mb-4">
        <h1 class="page-title">
            IPEX Board
        </h1>
        <div class="detail-buttons"><button data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" title="Open menu"
                class="btn btn-action btn-flash btn-menu d-flex align-items-center dropdown-toggle">
                Export
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                <ul>
                    <li><a href="#" class="dropdown-item">Print</a></li>
                    <li><a href="#" class="dropdown-item">Export PDF</a></li>
                    <li><a href="#" class="dropdown-item">Export XML</a></li>
                    <li><a href="#" class="dropdown-item">Export XLS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="detail-intro d-flex align-items-start flex-wrap">
        <div class="detail-info d-flex flex-column w-100">
            <div class="article4">
                <ul>
                    <li>
                        1. The Board consists of members representing:
                        <ul>
                            <li>a. the national Parliaments holding the previous, current and upcoming
                                Presidency of the Conference of Speakers of the European Union Parliaments;
                            </li>
                            <li>b. the national Parliament of the member state holding the Presidency of the
                                Council of the European Union during the first semester of the year in which
                                the Board takes office;</li>
                            <li>c. other national Parliaments that wish to participate and commit to
                                contributing to working groups set up by the Board;</li>
                            <li>d. the European Parliament.</li>
                        </ul>
                    </li>
                    <li>2. COSAC, the ECPRD, the European Commission and the Council participate in and
                        contribute to Board meetings.</li>
                    <li>3. The Chair may invite other relevant organizations or individuals to Board
                        meetings.</li>
                </ul>
                <p class="source">IPEX Guidelines, Article 4 (Composition of the Board)</p>
            </div>
        </div>
    </div>
    <div class="ipx-input-container ipx-input-container-large d-flex"><input id="FilterParl" type="text"
            placeholder="Find a parliament or a country" autofocus="autofocus"
            class="form-control ipx-input-large">
    </div>
</section>