<button class="btn btn-action btn-bordered d-flex align-items-center">
    View more
</button>

<!-- Large button (for subscriptions block) -->
<button class="btn btn-action btn-bordered btn-large d-flex align-items-center">
    View more
</button>