<div class="alert alert-conference shadow-sm">
    <h5>Parliament website(s):</h5>
    <ul class="ipx-list">
        <li><a href="#">Bundestag (DE)</a></li>
        <li><a href="#">Bundestag (FR)</a></li>
        <li><a href="#">Bundestag (EN)</a></li>
    </ul>
</div>