<!-- List with 1 column -->
<div class="ipx-card-list">
    <!-- Insert here as many ipx-card you want -->
</div>

<!-- List with 2 columns -->
<div class="ipx-card-list ipx-card-list-2col">
    <!-- Insert here as many ipx-card you want -->
</div>

<!-- List with 3 columns -->
<div class="ipx-card-list ipx-card-list-3col">
    <!-- Insert here as many ipx-card you want -->
</div>

<!-- List with 4 columns -->
<div class="ipx-card-list ipx-card-list-4col">
    <!-- Insert here as many ipx-card you want -->
</div>