<div class="bg-intro intro">
    <div class="container d-flex flex-column">
        <div class="d-flex align-items-center mt-4">
            <span class="flag flag-de mr-3"></span>
            <h1 class="flex-grow-1">German Bundestag</h1>
        </div>
        <div class="d-flex align-items-start p-4 w-100 shadow-sm white-box mt-4 mb-3 flex-wrap flex-md-nowrap"> 
            <div class="p-2">
                <h5 class="pt-0">Contact point for EU matters</h5>
                <div class="mt-3 mb-2">
                    <h5 class="name">Mrs. Renée-Sabine Krebs</h5>
                    <div class="d-flex email mt-2">
                        Email:
                        <a href="mailto:example@example.com" title="Send an email">example@example.com</a>
                    </div>
                    <div class="d-flex phone mt-1">
                        Phone:
                        <a href="tel:+ 49 (0) 30 227 32211" title="Call this number">+ 49 (0) 30 227 32211</a>
                    </div>
                </div>
                <div class="">
                    <h5 class="name">Ms. Carmen Sanchez Abarca</h5>
                    <div class="d-flex email mt-2">
                        Email:
                        <a href="mailto:example@example.com" title="Send an email">exampleverylongaddress@example.com</a>
                    </div>
                    <div class="d-flex phone mt-1">
                        Phone:
                        <a href="tel:+ 49 (0) 12 345 67891" title="Call this number">+ 49 (0) 12 345 67891</a>
                    </div>
                </div>
            </div>
            <div class="featured-image mt-5 ml-md-5 mt-md-0">
                <a data-fancybox="gallery" href="/img/parliaments/large/germany/bundestag-01.jpg">
                    <img src="/img/parliaments/large/germany/bundestag-01.jpg" alt="German Bundestag">
                    <i class="material-icons md-36">
                    zoom_in
                    </i>
                </a>
                <span class="legend">Bundestag - Plenary</span>
            </div>
        </div>
    </div>
</div>