<section>
    <div class="detail-intro d-flex align-items-start flex-wrap">
        <div class="detail-info d-flex flex-column flex-grow-1">
            <h2 class="detail-title">ICM AFCO on The debate on the Future of Europe</h2>
            <div class="detail-info-item"><strong>Event type:</strong> Interparliamentary meetings organised by the European Parliament</div>
            <div class="detail-info-item"><strong>Start date:</strong> 10/10/2020</div>
            <div class="detail-info-item"><strong>End date:</strong> 12/10/2020</div>
            <div class="detail-info-item"><strong>Registration deadline:</strong> 03/10/2020</div>
            <div class="detail-info-item"><strong>Place:</strong> <a href="#">EP, Brussels</a></div>
        </div>
        <div class="detail-buttons w-100">
            <button class="btn btn-action btn-menu d-flex align-items-center">
                Add to calendar
            </button>
        </div>
    </div>
</section>