<div role="alert" class="alert alert-ipex alert-dismissible show fade pr-4 shadow">
    <h5 class="">Our cookies policy</h5>
    <div class="d-flex flex-column flex-md-row align-items-center">
        <p>Nous utilisons des cookies pour faire fonctionner nos sites web et optimaliser votre expérience utilisateur. En cliquant sur `Oui j'accepte` vous acceptez le placement de cookies. Vous souhaitez en savoir plus, lisez notre politique de cookies, notre charte vie privée et les CGUs.</p>
        <a href="#" data-dismiss="alert" aria-label="Close" class="btn btn-action btn-flash flex-shrink-0 ml-md-4 my-3">I got it</a>
    </div>
</div>