<div class="d-flex flex-column align-items-center mt-5">
    <img class="ipex-logo mb-4" src="/assets/img/logo-x.svg" alt="IPEX logo">
    <h2 class="text-center mb-3">Interparliamentary Exchange</h2>
    <p class="text-center lead">IPEX, the InterParliamentary EU information eXchange, is a platform for the mutual exchange of information between the national Parliaments and the European Parliament concerning issues related to the European Union, especially in light of the provisions of the Treaty of Lisbon.</p>
</div>