<!-- This is a list of files with 2 columns. The "+" is of course if there is more than one language. -->

<ul class="ipx-list-files justify-content-between">
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
</ul>