<div>
    <h2 class="section-title d-flex align-items-center justify-content-between mt-0" data-toggle="collapse" href="#collapseFileslanguages" role="button" aria-expanded="true" aria-controls="collapseFileslanguages">
        List of files sorted by languages
        <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
            <i class="material-icons md-36">keyboard_arrow_down</i>
        </button>
    </h2>
    <ul class="ipx-list-files ipx-list-combo justify-content-between collapse show" id="collapseFileslanguages">
        <li class="ipx-link">   
            <div class="d-flex flex-column flex-md-row  w-100">
                <div class="flex-grow-1 justify-content-end">
                    1 EN annexe proposition part1 v7 | <strong>EN</strong>
                </div>
                <div class="mt-1 mt-md-0">
                    <a href="#" title="Download PDF">
                        <span class="file-type file-type-pdf">pdf &#11015;</span>
                    </a>
                    <a href="#" title="Download DOC">
                        <span class="file-type file-type-doc">doc &#11015;</span>
                    </a>
                </div>
            </div>   
        </li>
        <li class="ipx-link">   
            <div class="d-flex flex-column flex-md-row w-100">
                <div class="flex-grow-1 justify-content-end">
                    1 FR annexe proposition part1 v7 | <strong>FR</strong>
                </div>
                <div class="mt-1 mt-md-0">
                    <a href="#" title="Download PDF">
                        <span class="file-type file-type-pdf">pdf &#11015;</span>
                    </a>
                    <a href="#" title="Download DOC">
                        <span class="file-type file-type-doc">doc &#11015;</span>
                    </a>
                </div>
            </div>   
        </li>
        <li class="ipx-link">   
            <div class="d-flex flex-column flex-md-row w-100">
                <div class="flex-grow-1 justify-content-end flex">
                    1 HU annexe proposition part1 v7 | <strong>HU</strong>
                </div>
                <div class="mt-1 mt-md-0">
                    <a href="#" title="Download PDF">
                        <span class="file-type file-type-pdf">pdf &#11015;</span>
                    </a>
                    <a href="#" title="Download DOC">
                        <span class="file-type file-type-doc">doc &#11015;</span>
                    </a>
                </div>
            </div>   
        </li>
        <li class="ipx-link">   
            <div class="d-flex flex-column flex-md-row w-100">
                <div class="flex-grow-1 justify-content-end">
                    1 IT annexe proposition part1 v7 | <strong>IT</strong>
                </div>
                <div class="mt-1 mt-md-0">
                    <a href="#" title="Download PDF">
                        <span class="file-type file-type-pdf">pdf &#11015;</span>
                    </a>
                    <a href="#" title="Download DOC">
                        <span class="file-type file-type-doc">doc &#11015;</span>
                    </a>
                </div>
            </div>   
        </li>
    </ul>
</div>