<!-- Two lists of links in two columns, with a select filter -->
<div class="row">
    <div class="col-12 d-flex align-items-center">
        <select id="inputState" class="form-control select-ipex mt-3 mb-4">
            <option value="all">All</option>
            <option value="1">Legal regulations</option>
            <option value="2" selected="selected">EU Matters - Documents and Handling</option>
            <option value="3">EU-Startpage</option>
            <option value="4">Actors</option>
            <option value="5">Other Relevant Links</option>
        </select>
    </div>
    <div class="col-sm-6">
        <h5 class="sub-section-title pt-sm-0 pb-2">Webpages in english</h5>
        <ul class="ipx-list-links">
            <li>
                <a href="#" class="d-flex external-link">The Bundestag's rights to participate in EU Affairs</a>
                <small>EU Matters - Documents and Handling</small>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h5 class="sub-section-title pt-sm-0 pb-2">National webpages</h5>
        <ul class="ipx-list-links">      
            <li>
                <a href="#" class="d-flex external-link">Mitwirkungsrechte des Bundestages in Abgelegenheiten der Europäischen Union (DE)</a>
                <small>EU Matters - Documents and Handling</small>
            </li>
            <li>
                <a href="#" class="d-flex external-link">Les droits de participation du Bundestag allemand (FR)</a>
                <small>EU Matters - Documents and Handling</small>
            </li>
        </ul>
    </div>
</div>