<h2 class="section-title d-flex align-items-center justify-content-between mt-0" data-toggle="collapse" href="#collapseFiles" role="button" aria-expanded="true" aria-controls="collapseFiles">
    List of files
    <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0">
        <i class="material-icons md-36">keyboard_arrow_down</i>
    </button>
</h2>
<ul class="ipx-list-files justify-content-between ipx-list-2col collapse show" id="collapseFiles">
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Invitation</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Draft Programme EUSC (12.02.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Draft agenda Presidential troika</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>General Information EUSC</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>Conclusions on IPEX 2018</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>IPEX Statistical Report 2018 (23.01.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-doc">doc</span>List of participants final EN, FR (30.01.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
    <li class="ipx-card-link">      
        <a href="#" class="ipx-link-title"><span class="file-type file-type-pdf">pdf</span>Minutes of the Meeting of the Secretaries General of the European Union Parliaments (21.02.)</a>
        <div class="file-metas">
            <div class="lang-tags">
                <span>EN</span> +
                <span>FR</span>
            </div>
            <span class="file-size">| 381 KB | 04/12/2018</span>
        </div>
    </li>
</ul>