<!-- Load more button -->
<div class="text-center">
    <button class="btn btn-load">
        Load more
    </button>
</div>

<!-- With an indicative number of results -->
<div class="text-center">
    <button class="btn btn-load">
        Load <strong>12</strong> more
    </button>
</div>