<!-- The modal box is triggered by anything with these data-attributes (Just modify the IDs)-->
<button type="button" data-toggle="modal" data-target="#modalSaveSearch">
    Save search
</button>

<!-- Modal -->
<div class="modal fade" id="modalSaveSearch" tabindex="-1" role="dialog" aria-labelledby="modalSaveSearch" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Save this search</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-rounded">
                <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputAddress">Choose a title</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Type a title for your search">
                </div>
                </div>
                <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputAddress">Choose a description</label>
                    <textarea type="text" class="form-control" id="searchDescription" placeholder="Type a description for your search"></textarea>
                </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="d-flex align-items-center justify-content-end mt-2">
                            <label>Enable notifications</label>
                            <label class="switch ml-2">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer d-flex align)items-center justify-content-center">
            <button type="button" data-dismiss="modal" class="btn btn-action d-inline-flex align-items-center mr-3">Save search</button>
        </div>
        </div>
    </div>
</div>