<div class="d-flex image-and-text"><img src="/assets/img/EP-logo-RGB_EN.png" alt="European Parliament" class="small">
    <p class="lead">The European Parliament is co-legislator in the EU legislative process, has budgetary powers and is directly elected by European citizens.</p>
</div>