<!-- CAROUSEL WITH FEATURED CONTENTS -->
<div id="FeaturedControls" class="carousel slide my-4 featured-info has-indicators" data-ride="carousel" data-interval="100000">
    <ol class="carousel-indicators">
        <li data-target="#FeaturedControls" data-slide-to="0" class="active"></li>
        <li data-target="#FeaturedControls" data-slide-to="1"></li>
        <li data-target="#FeaturedControls" data-slide-to="2"></li>
        <li data-target="#FeaturedControls" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex">
                <img class="ipx-thumb d-none d-md-flex" src="/img/ipx-icon-share.svg" alt="Information to share">
                <div class="d-flex flex-column flex-grow-1">
                    <small>Featured</small>
                    <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                        <h3 class="large-title">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                    </a>
                    <div class="tags d-flex mt-2">
                        <span class="badge badge-home">Highlights</span>
                        <span class="badge badge-home">Brexit</span>
                        <span class="badge badge-home">Austrian parliament</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img class="ipx-thumb d-none d-md-flex" src="/img/ipx-icon-share.svg" alt="Information to share">
                <div class="d-flex flex-column flex-grow-1">
                    <small>Featured</small>
                    <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                        <h3 class="large-title">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                    </a>
                    <div class="tags d-flex mt-2">
                        <span class="badge badge-home">Highlights</span>
                        <span class="badge badge-home">Brexit</span>
                        <span class="badge badge-home">Austrian parliament</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img class="ipx-thumb d-none d-md-flex" src="/img/ipx-icon-share.svg" alt="Information to share">
                <div class="d-flex flex-column flex-grow-1">
                    <small>Featured</small>
                    <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                        <h3 class="large-title">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                    </a>
                    <div class="tags d-flex mt-2">
                        <span class="badge badge-home">Highlights</span>
                        <span class="badge badge-home">Brexit</span>
                        <span class="badge badge-home">Austrian parliament</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex">
                <img class="ipx-thumb d-none d-md-flex" src="/img/ipx-icon-share.svg" alt="Information to share">
                <div class="d-flex flex-column flex-grow-1">
                    <small>Featured</small>
                    <a href="#" title="Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna">
                        <h3 class="large-title">Austria prepares for unregulated Brexit  - Visit of Chief negotiator Michel Barnier in Vienna</h3>
                    </a>
                    <div class="tags d-flex mt-2">
                        <span class="badge badge-home">Highlights</span>
                        <span class="badge badge-home">Brexit</span>
                        <span class="badge badge-home">Austrian parliament</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#FeaturedControls" role="button" data-slide="prev">
        <button class="btn btn-disc">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#FeaturedControls" role="button" data-slide="next">
        <button class="btn btn-disc">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <span class="sr-only">Next</span>
    </a>
</div>