<div id="infoShareControls" class="carousel home-carousel slide" data-ride="carousel" data-interval="100000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- INSERT CONTENT OF SLIDE 1 (3 cards) -->
        </div>
        <div class="carousel-item">
            <!-- INSERT CONTENT OF SLIDE 2 (3 cards) -->
        </div>
        <div class="carousel-item">
            <!-- INSERT CONTENT OF SLIDE 3 (3 cards) -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#infoShareControls" role="button" data-slide="prev">
        <button class="btn btn-disc">
        <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#infoShareControls" role="button" data-slide="next">
        <button class="btn btn-disc">
        <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <span class="sr-only">Next</span>
    </a>
</div>