<!-- Block of 3 cards for a carousel item (Information to share) -->
<div class="bordered-cards d-md-flex flex-wrap">
    <div class="ipx-card flex-column home-card home-document">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span class="">Preparing for Brexit (energy-efficiency + visa policy)</span>
            </h3>
            <span class="info-type">News</span>
            <p class="ipx-card-description">
                Full delivery of the 10 priorities of the Juncker Commission before the European Parliament elections.
            </p>
        </a>
        <div class="badges-categories">
            <a href="#" title="See Brexit category">
                <span class="badge">Brexit</span>
            </a>
            <a href="#" title="See UK category">
                <span class="badge">European Central Bank</span>
            </a>
        </div>
    </div>
    <div class="ipx-card flex-column home-card home-document">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span class="">COM/2006/0147FIN</span>
                <div class="ipx-tags d-flex justify-center-end align-items-center flex-grow-1 mt-2 mt-sm-0">
                    <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2">Y<span class="sr-only">Yellow card</span></span>
                    <div class="scrutiny-status d-flex justify-content-sm-end flex-grow-1">
                        <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                        <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">E<span class="sr-only">Exchange</span></span>
                    </div>
                </div>
            </h3>
            <span class="info-type">Document</span>
            <p class="ipx-card-description">
                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
            </p>
        </a>
        <div class="badges-categories">
            <a href="#" title="See Brexit category">
                <span class="badge">EC</span>
            </a>
            <a href="#" title="See UK category">
                <span class="badge">European Semester</span>
            </a>
        </div>
    </div>
    <div class="ipx-card flex-column home-card home-document">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span class="">General Information EUSC</span>
            </h3>
            <span class="info-type">Event</span>
            <p class="ipx-card-description">
                Conference of the Speakers of European Union Parliaments 8 - 9 April 
            </p>
        </a>
        <div class="badges-categories">
            <a href="#" title="See Brexit category">
                <span class="badge">Conference</span>
            </a>
        </div>
    </div>
</div>