<!-- Block of 3 cards for a carousel item (NEWS) -->
<div class="bordered-cards d-md-flex flex-wrap">
    <div class="ipx-card flex-column home-card home-news">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span>22/03/2019</span>
            </h3>
            <p class="ipx-card-description">
                Government Statement of Chancellor Angela Merkel and lively debate with regard to upcoming blabla blabla bla bla bla
            </p>
            <div class="ipx-card-footer d-flex align-items-center">
                <span class="flag flag-sm mr-2 flag-de"></span>Deutscher Bundestag
            </div>
        </a>
    </div>
    <div class="ipx-card flex-column home-card home-news">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span>08/01/2019</span>
            </h3>
            <p class="ipx-card-description">
                Mixed reaction to the 2019 European Commission Work Programme
            </p>
            <div class="ipx-card-footer d-flex align-items-center">
                <span class="flag flag-sm mr-2 flag-eu"></span>European Commission
            </div>
        </a>
    </div>
    <div class="ipx-card flex-column home-card home-news">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span>08/01/2019</span>
            </h3>
            <p class="ipx-card-description">
                Austria prepares for unregulated Brexit - Visit of Chief negotiator Michel Barnier in Vienna blabla test bla bla blabla
            </p>
            <div class="ipx-card-footer d-flex align-items-center">
                <span class="flag flag-sm mr-2 flag-at"></span>Austrian Parliament
            </div>
        </a>
    </div>
</div>