<div id="calendarControls" data-ride="carousel" data-interval="100000"
    class="carousel ipx-card-carousel carousel-3-columns slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div>
                <div class="ipx-card has-menu">
                    <a href="/" class="ipx-card-content">
                        <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                        </h3>
                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                Brussels</small>
                        </div>
                    </a>
                    <div class="ipx-card-menu">
                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Open menu">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <ul>
                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ipx-card has-menu">
                    <a href="/" class="ipx-card-content">
                        <h3 class="ipx-card-title">Debate on the Future of Europe
                        </h3>
                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                Brussels</small>
                        </div>
                    </a>
                    <div class="ipx-card-menu">
                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Open menu">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <ul>
                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ipx-card has-menu">
                    <a href="/" class="ipx-card-content">
                        <h3 class="ipx-card-title">ICM AFCO
                        </h3>
                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                Brussels</small>
                        </div>
                    </a>
                    <div class="ipx-card-menu">
                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Open menu">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <ul>
                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div>
                <div class="ipx-card has-menu">
                    <a href="/" class="ipx-card-content">
                        <h3 class="ipx-card-title">ICM AFCO on The debate on the Future of Europe
                        </h3>
                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                Brussels</small>
                        </div>
                    </a>
                    <div class="ipx-card-menu">
                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Open menu">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <ul>
                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ipx-card has-menu">
                    <a href="/" class="ipx-card-content">
                        <h3 class="ipx-card-title">Debate on the Future of Europe
                        </h3>
                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                Brussels</small>
                        </div>
                    </a>
                    <div class="ipx-card-menu">
                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Open menu">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <ul>
                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ipx-card has-menu">
                    <a href="/" class="ipx-card-content">
                        <h3 class="ipx-card-title">ICM AFCO
                        </h3>
                        <p class="ipx-card-description">10/10/2019 - 10/10/2019</p>
                        <div class="ipx-card-footer d-flex align-items-end flex-grow-1 justify-content-between">
                            <small class="d-flex"><i class="material-icons md-18 mr-1">place</i>EP,
                                Brussels</small>
                        </div>
                    </a>
                    <div class="ipx-card-menu">
                        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="Open menu">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm">
                            <ul>
                                <li><a class="dropdown-item" href="#">Download .ics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#calendarControls" role="button" data-slide="prev" class="carousel-control-prev">
        <button class="btn btn-disc"><i class="material-icons">keyboard_arrow_left</i></button>
        <span class="sr-only">Previous</span>
    </a>
     <a href="#calendarControls" role="button" data-slide="next"
        class="carousel-control-next">
        <button class="btn btn-disc"><i class="material-icons">keyboard_arrow_right</i></button>
        <span class="sr-only">Next</span>
    </a>
</div>