<!-- Card model with a contextual menu -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-folder.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">Card with image and a contextual menu</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
            <div class="ipx-card-footer">
                <span class="small"><span class="utf-8 mr-2">&rarr;</span> The icon of a folder with a blue
                    stroke.</span>
            </div>
        </div>
        <div class="ipx-card-menu">
            <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                title="Open menu">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm">
                <ul>
                    <li><a class="dropdown-item" href="#">List item 1</a></li>
                    <li><a class="dropdown-item" href="#">Download file</a></li>
                    <li><a class="dropdown-item" href="#">Export data</a></li>
                    <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </a>
</div>