<!-- A card with an image -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-documents.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">Documents</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
    </a>
</div>
<!-- A card with an image -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-high-activity.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">Documents with high activity</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
    </a>
</div>
<!-- A card with an image -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-legislative-database.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">Legislative database</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
    </a>
</div>
<!-- A card with an image -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-calendar.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">Calendar of events</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
    </a>
</div>
<!-- A card with an image -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-news.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">News from parliaments</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
        </div>
    </a>
</div>
<!-- A card with an image and a card footer (that may be image caption) -->
<div class="ipx-card ipx-img-card">
    <a href="/" class="ipx-card-content">
        <img src="/img/ipx-icon-calendar.svg" alt="Item thumbnail" class="ipx-card-thumb">
        <div>
            <h3 class="ipx-card-title">Card with image and caption</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
                mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
            <div class="ipx-card-footer">
                <span class="small"><span class="utf-8 mr-2">&rarr;</span> The icon of a folder with a blue
                    stroke.</span>
            </div>
        </div>
    </a>
</div>