<!-- A thin model for cards, with or without additional menu -->
<div class="ipx-card ipx-img-card">
    <a href="#" class="ipx-card-content p-2">
        <img src="/assets/img/ipx-icon-folder.svg" alt="Folder" class="ipx-card-thumb mini-thumb mr-3">
        <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Card with a title only</h3>
    </a>
</div>

<div class="ipx-card ipx-img-card has-menu">
    <a href="#" class="ipx-card-content p-2">
        <img src="/assets/img/ipx-icon-folder.svg" alt="Folder" class="ipx-card-thumb mini-thumb mr-3">
        <h3 class="d-flex align-items-center flex-grow-1 m-0 p-0">Card with a title only (and a menu)</h3>
    </a>
    <div class="ipx-card-menu">
        <button class="btn btn-disc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu">
            <i class="material-icons">more_vert</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right shadow-sm">
        <ul>
            <li><a class="dropdown-item" href="#">List item 1</a></li>
            <li><a class="dropdown-item" href="#">Download file</a></li>
            <li><a class="dropdown-item" href="#">Export data</a></li>
            <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
        </ul>
        </div>
    </div>
</div>