<!-- A basic card with nothing particuler -->
<div class="ipx-card">
    <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card with marks <mark>zimbra</mark></h3>
        <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr <mark>zimbra</mark>, mobly napster hipmunk prezi chartly bitly spock. Loopt <mark>zimbra</mark> twones meebo hipmunk, fleck xobni.</p>
    </a>
</div>