<!-- Card model with links inside (not on all card), as in list of parliaments, with chambers links inside. -->
<div class="ipx-card ipx-nolink-card">
    <div class="ipx-card-content">
        <h5 class="pt-0">
            <span class="flag flag-sm mr-2 flag-be"></span>
            <!-- Use this line only if you need flags. The .flag-be class will display belgian flag. Use country codes to manage flags. -->
            Insert name of parliament
        </h5>
        <a href="#" title="Insert chamber name" class="d-flex">
            Insert chamber name
        </a>
        <a href="#" title="Second chamber" class="d-flex">
            Second chamber if bicameral
        </a>
    </div>
</div>