<!-- A basic card with nothing particuler -->
<div class="ipx-card">
    <a href="/" class="ipx-card-content">
        <h3 class="ipx-card-title">Basic card</h3>
        <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
    </a>
</div>