<div class="ipx-card has-menu">
    <a href="/" class="ipx-card-content">
        <div>
            <h3 class="ipx-card-title">Brexit related documents</h3>
            <p class="ipx-card-description">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni.</p>
            <div class="ipx-card-footer"><span class="small">Stored on: 23/06/2016</span>
            </div>
        </div>
    </a>
    <div class="ipx-card-menu"><button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Open menu" class="btn btn-disc"><i class="material-icons">more_vert</i></button>
        <div class="dropdown-menu dropdown-menu-right shadow-sm" x-placement="bottom-end" style="position: absolute; transform: translate3d(856px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
            <ul>
                <li><a href="#" class="dropdown-item">Edit</a></li>
                <li><a href="#" class="dropdown-item">View</a></li>
                <li><a href="#" class="dropdown-item text-danger">Remove</a></li>
            </ul>
        </div>
    </div>
</div>