<div iso="at" name="Austria" class="ipx-card ipx-country-card ipx-nolink-card">
    <div class="ipx-card-content">
        <h5 class="pt-0 mb-0">
            <span class="flag flag-sm mr-2 flag-at"></span>
            Austria
        </h5>
        <div class="d-flex flex-wrap">
            <div class="d-flex flex-column chamber">
                <span class="mt-3 mb-1 font-weight-bold">
                    Austrian National Council
                </span>
                <div class="secretaries d-flex">
                    <span class="d-flex flex-column">
                        <span>Mr. Harald DOSSI</span>
                        <a href="" class="font-weight-light">+44 256 897 369</a>
                        <a href="mailto:gianpaolo.araco@senato.it" title="Send an email" class="font-weight-light ellipsis">exampletest@example.com</a>
                        <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                            <a href="mailto:gianpaolo.araco@senato.it" title="Send an email" class="btn btn-disc d-flex d-md-none mr-2">
                                <i class="material-icons">mail</i>
                            </a>
                            <a href="tel:+39 06 6706 4580" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                                <i class="material-icons">phone</i>
                            </a>
                            <a href="#" title="Export v-card" class="btn btn-disc mr-2 d-none">
                                <i class="material-icons">contact_mail</i>
                            </a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="d-flex flex-column chamber">
                <span class="mt-3 mb-1 font-weight-bold">
                    Austrian Federal Council
                </span>
                <div class="secretaries d-flex">
                    <span class="d-flex flex-column">
                        <span>Mr. Harald DOSSI</span>
                        <a href="" class="font-weight-light">+44 256 897 369</a>
                        <a href="mailto:gianpaolo.araco@senato.it" title="Send an email" class="font-weight-light ellipsis">exampletest@example.com</a>
                        <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
                            <a href="mailto:gianpaolo.araco@senato.it" title="Send an email" class="btn btn-disc d-flex d-md-none mr-2">
                                <i class="material-icons">mail</i>
                            </a>
                            <a href="tel:+39 06 6706 4580" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                                <i class="material-icons">phone</i>
                            </a>
                            <a href="#" title="Export v-card" class="btn btn-disc mr-2 d-none">
                                <i class="material-icons">contact_mail</i>
                            </a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>