<!-- A card for a person. Model used in IPEX Board. -->

<div class="ipx-card ipx-person-card ipx-nolink-card">
    <div class="ipx-card-content d-flex flex-column">
        <h5 class="pt-0 ipx-contact-name">Mr. Gianpaolo Araco</h5>
        <span class="chamber">Italian Senate</span>
        <span class="email">
            Email:
            <a href="mailto:gianpaolo.araco@senato.it" title="Send an email">gianpaolo.araco@senato.it</a>
        </span>
        <span class="phone">
            Phone:
            <a href="tel:+39 06 6706 4580" title="Call this number">+39 06 6706 4580</a>
        </span>
        <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
            <a href="mailto:gianpaolo.araco@senato.it" title="Send an email" class="btn btn-disc d-flex d-md-none mr-2">
                <i class="material-icons">mail</i>
            </a>
            <a href="tel:+39 06 6706 4580" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                <i class="material-icons">phone</i>
            </a>
            <div class="d-flex flex-grow-1 justify-content-end justify-content-md-start">
                <a class="btn btn-sm btn-icon-start export-vcard justify-self-end p-0 d-flex flex-row">
                    <i class="material-icons mr-2">contact_mail</i>
                    Export v-card
                </a>
            </div>
        </div>
    </div>
</div>

<!-- This layout is only for the Board Chair! It has an .ipx-chair-card class and has a flag after the contact name. -->

<div class="ipx-card ipx-person-card ipx-nolink-card ipx-chair-card">
    <div class="ipx-card-content d-flex flex-column">
        <h5 class="pt-0 ipx-contact-name d-flex justify-content-between">Mr. Peep JAHILO
            <span class="flag flag-md mr-2 flag-ee"></span>
        </h5>
        <span class="chamber">Estonian Parliament</span>
        <span class="email">
            Email:
            <a href="mailto:peep.jahilo@riigikogu.ee" title="Send an email">
                peep.jahilo@riigikogu.ee
            </a>
        </span>
        <span class="phone">
            Phone:
            <a href="tel:+372 631 6333" title="Call this number">
                +372 631 6333
            </a>
        </span>
        <div class="buttons d-flex align-items-end flex-grow-1 mt-3">
            <a href="mailto:peep.jahilo@riigikogu.ee" title="Send an email" class="btn btn-disc d-flex d-md-none mr-2">
                <i class="material-icons">mail</i>
            </a>
            <a href="tel:+372 631 6333" title="Call this number" class="btn btn-disc d-flex d-md-none mr-2">
                <i class="material-icons">phone</i>
            </a>
            <div class="d-flex flex-grow-1 justify-content-end justify-content-md-start">
                <a class="btn btn-sm btn-icon-start export-vcard justify-self-end p-0 d-flex flex-row">
                    <i class="material-icons mr-2">contact_mail</i>
                    Export v-card
                </a>
            </div>
        </div>
    </div>
</div>