<section class="search-results-header px-2 px-md-0">
    <aside class="d-flex flex-wrap flex-shrink-0 flex-md-column align-items-center justify-content-start mb-3">
        <div class="results flex-grow-1 d-flex justify-content-start mr-5 mr-md-0">
            <span class="count">
                117
            </span>
            <span>Results found</span>
        </div>
        <!-- The following div and buttons should only be loaded on smaller screens -->
        <div class="d-flex d-md-none mt-2">
            <!-- The following button opens the modal and appears only if search is NOT saved. (remove logic from this before implementing) -->
            <button class="btn btn-action d-flex align-items-center" v-if="!searchSaved" @click="showModal">
                Save this search
            </button>
            <!-- The following button opens the modal and appears only if search IS saved. ATT: Icon changes on hover (remove logic from this before implementing) -->
            <button class="btn btn-action d-flex align-items-center" @click="showModal" v-if="searchSaved"></button> 
                <i class=" material-icons mr-2">done</i>
                <!-- change icon to this on hover: <i class=" material-icons mr-2">edit</i> -->
                Search is saved
            </button>
        </div>
    </aside>
    <main>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="search-metadata ml-2 mt-2 ml-md-0 mt-md-0"><!-- Appears only if there is something to display, of course... -->
                <p class="mb-2 ml-3">You searched: <strong>Brexit</strong> in <strong>Documents</strong></p>
                <p class="text-success" v-if="searchSaved">Search is saved as <strong><!-- Insert here the title defined on save --></strong></p>
            </div>

            <!-- The following div and buttons should only be loaded on larger screens -->
            <div class="d-none d-md-flex align-items-start flex-wrap justify-content-start justify-content-md-end mt-0">
                <!-- This button opens the advanced search drawer for Documents (remove logic from this before implementing) -->
                <button  @click="emitDrawer('Documents')" class="mb-2 btn btn-action d-none d-lg-flex align-items-center">
                    <i class="material-icons md-18 mr-2">search</i>Edit search options
                </button>

                <!-- The following button opens the modal and appears only if search IS saved. ATT: Icon changes on hover (remove logic from this before implementing) -->
                <button class="btn btn-action d-flex align-items-center mb-2" @click="showModal" v-if="searchSaved"></button> 
                    <i class=" material-icons mr-2">done</i>
                    <!-- change icon to this on hover: <i class=" material-icons mr-2">edit</i> -->
                    Search is saved
                </button>
                <!-- The following button opens the modal and appears only if search is NOT saved. (remove logic from this before implementing) -->
                <button class="btn btn-action d-flex align-items-center mb-2" v-if="!searchSaved" @click="showModal">
                    Save this search
                </button>
            </div>
            <!-- ANT MODAL COMPONENT -->
            <a-modal
            title="Save this search"
            :visible="visible"
            @ok="handleOk"
            okText="Save this search" cancelText="Cancel"
            :confirmLoading="confirmLoading"
            @cancel="handleCancel"
            >
                <form class="ipx-form">
                    <div class="form-row">
                        <div class="col-12">
                            <label class="has-help" for="searchTitle">Search title
                                <Popover class="popover-help" title="Help title">
                                    <template slot="content">
                                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                    </template>
                                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                </Popover>                    
                            </label>
                            <input v-model="searchTitle" type="text" class="form-control" id="searchTitle" placeholder="Enter a title for your search" value="0" required>
                        </div>
                        <div class="col-12">
                            <label class="has-help" for="searchDescription">Search description
                                <Popover class="popover-help" title="Help title">
                                    <template slot="content">
                                        <p class="m-0">Help content lorem ipsum sit amet est test.</p>
                                    </template>
                                    <span class="material-icons help-icon ml-2 md-18" title="Help">help</span>
                                </Popover>                    
                            </label>
                            <textarea v-model="searchDescription" class="form-control" id="searchDescription" placeholder="Enter a description for your search" value="" rows="5"></textarea>
                        </div>
                    </div>
                </form>
            </a-modal>
        </div>
        <div class="selected-criteria flex-grow-1 m-2 mt-3">
            <a-tag closable>
                Legislative proposals
            </a-tag>
        </div>
    </main>
</section>