<div class="accordion accordion-filters-all" id="accordionFiltersAll">
    <h3 class="filter is-open">All types<span class="count">147</span></h3>
    <div class="filter-active">
        <div id="01">
            <h4 class="is-open filter-documents" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Documents <span class="count">84</span>
            </h4>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="01" data-parent="#accordionFiltersAll">
            <ul class="">
                <li>
                    <a href="#">Legislative proposals <span class="count">70</span></a>
                </li>
                <li>
                    <a href="#">Scrutiny <span class="count">14</span></a>
                </li>
                
            </ul>
            <div class="d-none d-md-flex my-4">
                <button @click="emitDrawer('Documents')" class="btn btn-action btn-flash btn-thin d-flex align-items-center">
                    <i class="material-icons md-18 mr-2">search</i>
                    Advanced search</button>
            </div>
        </div>
    </div>
    <div>
        <div id="02">
            <h4 class="filter-calendar" data-toggle="collapse" data-target="#collapseCalendar" aria-expanded="true" aria-controls="collapseCalendar">
                Calendar <span class="count">10</span>
            </h4>
        </div>
        <div id="collapseCalendar" class="collapse" aria-labelledby="02" data-parent="#accordionFiltersAll">
            <div class="d-none d-md-flex  my-4">
                <button @click="emitDrawer('Calendar')" class="btn btn-action btn-flash btn-thin d-flex align-items-center"><i class="material-icons md-18 mr-2">search</i>Advanced search</button>
            </div>
        </div>
    </div>
    <div>
        <div id="03">
            <h4 class="filter-parliaments" data-toggle="collapse" data-target="#collapseParliamentsFiles" aria-expanded="true" aria-controls="collapseParliamentsFiles">
                Parliaments files <span class="count">9</span>
            </h4>
        </div>
        <div id="collapseParliamentsFiles" class="collapse" aria-labelledby="03" data-parent="#accordionFiltersAll">
            <div class="d-none d-md-flex  my-4">
                <button @click="emitDrawer('Parliaments')" class="btn btn-action btn-flash btn-thin d-flex align-items-center"><i class="material-icons md-18 mr-2">search</i>Advanced search</button>
            </div>
        </div>
    </div>
    <div>
        <div id="04">
            <h4 class="filter-conferences" data-toggle="collapse" data-target="#collapseConferencesFiles" aria-expanded="true" aria-controls="collapseConferencesFiles">
                Conferences files <span class="count">8</span>
            </h4>
        </div>
        <div id="collapseConferencesFiles" class="collapse" aria-labelledby="04" data-parent="#accordionFiltersAll">
            <div class="d-none d-md-flex  my-4">
                <button @click="emitDrawer('Conferences')" class="btn btn-action btn-flash btn-thin d-flex align-items-center"><i class="material-icons md-18 mr-2">search</i>Advanced search</button>
            </div>
        </div>
    </div>
    <div>
        <div id="05">
            <h4 class="filter-news" data-toggle="collapse" data-target="#collapseNewsFiles" aria-expanded="true" aria-controls="collapseNewsFiles">
                News <span class="count">5</span>
            </h4>
        </div>
        <div id="collapseNewsFiles" class="collapse" aria-labelledby="05" data-parent="#accordionFiltersAll">
            <div class="d-none d-md-flex  my-4">
                <button @click="emitDrawer('News')" class="btn btn-action btn-flash btn-thin d-flex align-items-center"><i class="material-icons md-18 mr-2">search</i>Advanced search</button>
            </div>
        </div>
    </div>
</div>