<!-- New contents modules should be placed on top of the page footer -->

<!-- ////////////////////////////////////
WITH ONE NEW CONTENT 
//////////////////////////////////// -->

<section class="newcontentbox newcontentbox-bottom">
    <div class="container-regular d-flex pb-4">
        <span class="link-icon material-icons mr-2">link</span>
        <div class="nc-item">
            <div>
                <div class="nc-title">
                    <h3 class="nc-title d-flex align-items-center">
                        This is another new content title
                    </h3>
                    <div class="newcontent-metas">
                        <p class="produced d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                            <strong>Produced by:</strong>Chambre des Représentants</p>
                    </div>
                </div>
                <div class="nc-summary">
                    <p>New content description lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque,
                        laboriosam exercitationem quidem error illum magni eaque consequuntur nesciunt perferendis harum
                        id aperiam iusto cumque, quibusdam, iste eveniet? Nesciunt, culpa sapiente?</p>
                    <div class="newcontent-metas">
                        <div class="files d-flex align-items-center">
                            <span class="badge mr-2">3</span> files available
                        </div>
                        <div class="author d-flex align-items-center">
                            <span class="mr-2">Author:</span>
                            <span class="badge">John Doe-Smith</span>
                        </div>
                        <div class="produced d-flex align-items-center">
                            <span class="mr-2">Content produced by:</span>
                            <span class="badge">Sénat</span>
                        </div>
                        <div class="keywords d-flex align-items-center">
                            <span class="mr-2">Content associated with:</span>
                            <span class="badge mr-2">Brexit</span>
                            <span class="badge mr-2">EU Affairs</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nc-link">
                <a href="/newcontent" title="View new content"
                    class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
            </div>
        </div>
    </div>
</section>

<!-- ////////////////////////////////////
WITH MORE THAN ONE NEW CONTENT 
//////////////////////////////////// -->

<section class="newcontentbox newcontentbox-bottom">
    <div class="container-regular d-flex pb-4">
        <div class="nc-list">
            <span class="link-icon material-icons mr-2">link</span>
            <div class="nc-count">
                <p><strong>8</strong> New Contents associated</p>
            </div>
            <div class="nc-item">
                <div>
                    <div class="nc-title">
                        <h3 class="nc-title d-flex align-items-center">
                            New content title laboriosam exercitationem quidem error illum magni eaque
                        </h3>
                        <div class="newcontent-metas">
                            <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                <strong>Produced by:</strong>Chambre des Représentants</p>
                        </div>
                    </div>
                </div>
                <div class="nc-link">
                    <a href="/newcontent" title="View new content"
                        class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                </div>
            </div>
            <div class="nc-item">
                <div>
                    <div class="nc-title">
                        <h3 class="nc-title d-flex align-items-center">
                            This is another new content title
                        </h3>
                        <div class="newcontent-metas">
                            <p class="produced d-flex flex-column flex-md-row  align-items-start align-items-md-center">
                                <strong>Produced by:</strong>Chambre des Représentants</p>
                        </div>
                    </div>
                </div>
                <div class="nc-link">
                    <a href="/newcontent" title="View new content"
                        class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                </div>
            </div>
            <div class="nc-item">
                <div>
                    <div class="nc-title">
                        <h3 class="nc-title d-flex align-items-center">
                            And this one is, again, another one but with a longer title
                        </h3>
                        <div class="newcontent-metas">
                            <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                <strong>Produced by:</strong>Chambre des Représentants</p>
                        </div>
                    </div>
                </div>
                <div class="nc-link">
                    <a href="/newcontent" title="View new content"
                        class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                </div>
            </div>
            <div class="nc-item">
                <div>
                    <div class="nc-title">
                        <h3 class="nc-title d-flex align-items-center">
                            Another one
                        </h3>
                        <div class="newcontent-metas">
                            <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                <strong>Produced by:</strong>Chambre des Représentants</p>
                        </div>
                    </div>
                </div>
                <div class="nc-link">
                    <a href="/newcontent" title="View new content"
                        class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                </div>
            </div>
            <div class="nc-item">
                <div>
                    <div class="nc-title">
                        <h3 class="nc-title d-flex align-items-center">
                            And a very long title. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
                            veniam, quae quaerat ducimus sequi quidem tempora id sint illum obcaecati fuga ut iure
                            repellendus dolor officiis corrupti, ex est vitae.
                        </h3>
                        <div class="newcontent-metas">
                            <p class="produced d-flex flex-column flex-md-row align-items-start align-items-md-center">
                                <strong>Produced by:</strong>Chambre des Représentants</p>
                        </div>
                    </div>
                </div>
                <div class="nc-link">
                    <a href="/newcontent" title="View new content"
                        class="nc-open-icon material-icons md-36">keyboard_arrow_right</a>
                </div>
            </div>
            <!-- Insert Load More button if more than 5 or 10 nc-items -->
            <div class="text-center">
                <button class="btn btn-load">
                    Load more
                </button>
            </div>
        </div>
    </div>
</section>