<div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    <section>
        <!-- INSERT HERE THE RULES OF PROCEDURE LIST OF FILES -->
    </section>
    <section>
        <!-- INSERT HERE THE CAROUSEL GALLERY WITH CONTROLS -->
        <h2 class="section-title">About</h2>
        <p class="lead">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
    </section>
    <section>
        <h2 class="section-title">The History of the EU Speakers Conference</h2>
        <h3 class="content-subtitle">First stage</h3>
        <p>In a first stage (1963-1974) only two meetings of Speakers of the European Communities Parliaments were held on an occasional basis.</p><p>
        A first meeting of the Speakers of the National Parliaments of the Member States of the European Communities and of the Parliamentary Assembly of the European Communities (now European Parliament) took place in 1963 in Rome, on an initiative of the President of the Parliamentary Assembly of the European Communities (Gaetano Martino).
        </p><p>A second meeting – attended also by the President of the Parliamentary Assembly of the Council of Europe – was held only ten years later in 1973 in Strasbourg, on an initiative of the President of the European Parliament, Walter Behrendt.
        </p>
        <h3 class="content-subtitle">Second stage</h3>
        <p>
        In a second stage (1975-1979) the meetings of the Speakers became regular and included also the Parliamentary Assemblies of the Council of Europe.
        Indeed, the Speakers of the European Parliamentary Assemblies (national parliaments of the Member States of the Council of Europe as well as the European Parliament and the Parliamentary Assembly of the Council of Europe) decided – at the meetings held in Paris in January 1975 and in Rome in August 1975 - to convene an Annual Conferences (on an invitation of a national parliament).</p><p>
        In accordance to this decision Annual Conferences of the Speakers of the European Parliamentary Assemblies took place in 1976, 1977 and 1978.
        </p>
        <h3 class="content-subtitle">Third stage</h3>
        <p>
        In a third stage (1980-1998) the Conferences of the Speakers of the European Communities and of the European Parliamentary Assemblies took place on an annual basis in different formats.</p><p>
        At the meeting in Madrid in 1980 the Speakers of the European Parliamentary Assemblies agreed to convene an annual Conference, alternatively in two different formats:
        <ul class="list">
            <li>one year, as a “big” Conference including the Speakers of all the national parliaments of the Member states of the Council of Europe, of the European Parliament and of the Parliamentary Assembly of the Council of Europe;</li>
            <li>one year, as a “small” Conference including the Speakers of the European Communities Parliaments (European Parliament and national parliaments). According to this criteria “big” and “small” Conferences were held, alternatively, at
            least once a year from 1981 to 1998.</li>
        </ul>
        </p>
        <h3 class="content-subtitle">Fourth stage</h3>
        <p>
        In the fourth stage (1999 to date) the EUSC has become an autonomous forum of cooperation and has affirmed its general competence of coordination and supervision of the interparliamentary cooperation in the EU.
        At the meeting of the 1999 the Conference of the Speakers of the EU Parliaments (EUSC) in Lisbon decided to hold at least one meeting a year and to enhance the interparliamentary cooperation in the EU.
        </p><p>In 2000 the EUSC in Rome adopted the Guidelines of the EUSC laying down principles and rules of procedure for the internal functioning of the Conference and launched the IPEX project.
        </p><p>In 2004 the EUSC held in The Hague adopted the Guidelines on interparliamentary cooperation which establish the principles, the objectives, the framework and the tools of the interparliamentary cooperation in the EU.
        </p><p>The Guidelines were amended by the EUSC in Lisbon in 2008.
        In 2006 the EUSC in Copenhagen launched the new IPEX website.
        The EUSC in Warsaw (2011) and Nicosia (2013) decided – according to Protocol n. 1
        annexed to the TEU and TFEU - the establishment of the new Conferences on the CFSP/CSDF and on the economic and financial governance.
        </p>
    </section>
</div>