<ul id="confMenu" role="tablist" class="nav nav-pills internal-navigation justify-content-center mt-4">
    <li class="nav-item">
        <a id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" class="nav-link show active">Home</a>
    </li>
    <li class="nav-item">
        <a id="meetings-tab" data-toggle="tab" href="#meetings" role="tab" aria-controls="meetings" aria-selected="false" class="nav-link">Meetings</a>
    </li>
    <li class="nav-item">
        <a id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false" class="nav-link">About</a>
    </li>
</ul>