<div class="container flex-grow-1 ipx-content">
    <div class="tab-content" id="conferenceContent">
        <!-- INSERT HERE THE HOME PART -->
        <!-- INSERT HERE THE MEETINGS PART -->
        <!-- INSERT HERE THE ABOUT PART -->
    </div>
</div>