<div class="bg-intro">
    <div class="container d-flex flex-column">
        <div class="d-flex flex-column flex-md-row align-items-center mt-4"  data-toggle="collapse" href="#collapseIntro" role="button" aria-expanded="true" aria-controls="collapseIntro">
            <h1 class="flex-grow-1 text-center text-md-left my-3 m-md-0">EU Speakers</h1>
            <button type="button" class="btn btn-only-icon"><i class="material-icons">keyboard_arrow_down</i></button>
        </div>
        <div class="collapse show" id="collapseIntro">
            <div class="d-flex align-items-start p-4 w-100 shadow-sm white-box mt-4 mb-3 flex-wrap flex-md-nowrap"> 
                <div class="p-md-4">
                    <p class="lead pb-3">The main purpose of the conference is to exchange views, information and experiences on topics related to the role of national parliaments and the thorough exercise of parliamentary capacity.</p>
                    <div class="alert alert-conference shadow-sm">
                        <strong>Next event:</strong><br/>
                        <span>Vienna | 22/04/2019</span>
                    </div>
                </div>
                <div class="featured-image mt-5 ml-md-5 mt-md-0">
                    <a data-fancybox="gallery" href="/img/parliaments/large/estonia/people.jpg">
                        <img src="/img/parliaments/large/estonia/people.jpg" alt="German Bundestag">
                        <i class="material-icons md-36">
                        zoom_in
                        </i>
                    </a>
                    <span class="legend">Bundestag - Plenary</span>
                </div>
            </div>
        </div>
        <!-- INSERT HERE THE CONFERENCE MENU -->
    </div>
</div>