<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <section class="d-flex flex-column flex-md-row align-items-center text-center text-md-left">
        <figure class="conference-logo ml-md-5 order-md-1 mb-4 mb-md-0">
            <img src="/img/conference/euspeakers/euspeakers-logo-FAKE.svg" alt="COSAC logo">
            <figcaption>A fake EU Speakers logo</figcaption>
        </figure>
        <div>
            <h2 class="section-title">Austria 2019</h2>
            <p class="lead">Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra, mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
        </div>
    </section>
    <section>
        <!-- INSERT HERE A LIST OF FILES -->
        <!-- INSERT HERE ANOTHER LIST OF FILES -->
    </section>
</div>