<section class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
    <h2 class="section-title">Meetings</h2>
    <p class="lead mt-3 mb-5">Mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk, fleck xobni. Convore bebo rovio vimeo zanga class="ipx-card-content p-2"handango blekko koofers, loopt twitter imvu flickr kaboodle chegg.</p>
    <div class="ipx-input-container ipx-input-container-large d-flex my-5">
        <input id="id" type="text" placeholder="Find a meeting" class="form-control ipx-input-large" autofocus>
    </div>
    <!-- INSERT HERE THE MEETINGS LIST -->
</section>