<div class="homeblock-title d-flex flex-column flex-md-row">
    <div class="d-flex flex-grow-1 flex-column align-items-center flex-md-row">
        <span class="ipx-rounded-icon is-events flex-shrink-0 mb-2 mb-md-0"></span>
        <h2 class="">Upcoming events</h2>
    </div>
</div>
<div class="d-flex flex-column flex-sm-row mt-4">
    <div class="ipx-datepicker d-none d-md-flex align-items-center justify-content-center mr-md-5 pb-5 pb-md-2">
        <!-- ADD A DATEPICKER COMPONENT -->
    </div>
    <div id="EventsControls" class="carousel ipx-card-carousel slide" data-ride="carousel" data-interval="100000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- INSERT CONTENT OF SLIDE 1 (3 cards) -->
            </div>
            <div class="carousel-item">
                <!-- INSERT CONTENT OF SLIDE 2 (3 cards) -->
            </div>
            <div class="carousel-item">
                <!-- INSERT CONTENT OF SLIDE 3 (3 cards) -->
            </div>
        </div>
        <a class="carousel-control-prev" href="#EventsControls" role="button" data-slide="prev">
            <button class="btn btn-disc">
            <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#EventsControls" role="button" data-slide="next">
            <button class="btn btn-disc">
            <i class="material-icons">keyboard_arrow_right</i>
            </button>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="home-view-more">
    <button class="btn btn-action btn-default btn-large d-flex align-items-center">
        View more
    </button>
</div>

