<!-- Block of 3 cards for a carousel item (EVENTS) -->
<div class="bordered-cards d-md-flex flex-wrap">
    <div class="ipx-card flex-column home-card home-events">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span>07/05/2019</span>
            </h3>
            <div class="home-event-meta">
                <span class="time">10:00 - 16:00</span>
                <span class="place">Vienna, Austria</span>
            </div>
            <p class="ipx-card-description">
                Conference of Committees dealing with Migration Issues
            </p>
        </a>
    </div>
    <div class="ipx-card flex-column home-card home-events">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span>17/05/2019</span>
            </h3>
            <div class="home-event-meta">
                <span class="d-none time">10:00 - 16:00</span>
                <span class="place">Vienna, Austria</span>
            </div>
            <p class="ipx-card-description">
                IPEX Board
            </p>
        </a>
    </div>
    <div class="ipx-card flex-column home-card home-events">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span>23/06/2019</span>
            </h3>
            <div class="home-event-meta">
                <span class="d-none time">10:00 - 16:00</span>
                <span class="place">Bucharest, Romania</span>
            </div>
            <p class="ipx-card-description">
                LXI COSAC
            </p>
        </a>
    </div>
</div>