<!-- Block of 3 cards for a carousel item (HIGH ACTIVITY) -->
<div class="bordered-cards d-md-flex flex-wrap">
    <div class="ipx-card flex-column home-card home-high home-document">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span class="">COM/2006/0147FIN</span>
                <div class="ipx-tags d-flex justify-center-end align-items-center flex-grow-1 mt-2 mt-sm-0">
                    <div class="scrutiny-status d-flex justify-content-sm-end flex-grow-1">
                        <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                        <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                    </div>
                </div>
            </h3>
            <p class="ipx-card-description">
                Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
            </p>
        </a>
    </div>
    <div class="ipx-card flex-column home-card home-high home-document">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span class="">COM/2006/0147FIN</span>
                <div class="ipx-tags d-flex justify-center-end align-items-center flex-grow-1 mt-2 mt-sm-0">
                    <div class="scrutiny-status d-flex justify-content-sm-end flex-grow-1">
                        <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                        <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">E<span class="sr-only">Exchange</span></span>
                    </div>
                </div>
            </h3>
            <p class="ipx-card-description">
                Test title Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994.
            </p>
        </a>
    </div>
    <div class="ipx-card flex-column home-card home-high home-document">
        <a href="/" class="ipx-card-content w-100">
            <h3 class="ipx-card-title">
                <span class="">COM/2006/0147FIN</span>
                <div class="ipx-tags d-flex justify-center-end align-items-center flex-grow-1 mt-2 mt-sm-0">
                    <span title="Yellow card" class="btn btn-yellowcard rounded ipx-tag shadow-sm ml-sm-2">Y<span class="sr-only">Yellow card</span></span>
                    <div class="scrutiny-status d-flex justify-content-sm-end flex-grow-1">
                        <span title="A reasoned opinion has been sent" class="btn btn-opinion ipx-tag shadow-sm">R<span class="sr-only">Reasoned opinion</span></span>
                        <span title="Political Dialogue" class="btn btn-dialog ipx-tag shadow-sm">D<span class="sr-only">Political Dialogue</span></span>
                        <span title="There is important information to exchange" class="btn btn-exchange ipx-tag shadow-sm">E<span class="sr-only">Exchange</span></span>
                    </div>
                </div>
            </h3>
            <p class="ipx-card-description">
                Test title Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC.
            </p>
        </a>
    </div>
</div>