<div class="homeblock-title d-flex flex-column flex-md-row">
    <div class="d-flex flex-grow-1 flex-shrink-0 mr-md-5 flex-column flex-md-row align-items-center mb-3 mb-md-0">
        <span class="ipx-rounded-icon is-important flex-shrink-0 mb-2 mb-md-0"></span>
        <h2 class="">Important issues</h2>
    </div>
    <div class="homeblock-filter flex-shrink-1 d-flex align-items-center">
        <div class="sliding-keywords">
            <button class="btn btn-default">Conference</button>
            <button class="btn btn-default">EU Trade Agreement</button>
            <button class="btn btn-default">Brexit</button>
            <button class="btn btn-default">MFF</button>
            <button class="btn btn-default">European Semester</button>
            <button class="btn btn-default">Annual Work Program</button>
            <button class="btn btn-default">Keyword</button>
            <button class="btn btn-default">Another Keyword 1</button>
            <button class="btn btn-default">And Another One</button>
        </div>
    </div>
</div>
<div id="ImportantControls" class="carousel ipx-card-carousel slide" data-ride="carousel" data-interval="100000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- INSERT CONTENT OF SLIDE 1 (3 cards) -->
        </div>
        <div class="carousel-item">
            <!-- INSERT CONTENT OF SLIDE 2 (3 cards) -->
        </div>
        <div class="carousel-item">
            <!-- INSERT CONTENT OF SLIDE 3 (3 cards) -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#ImportantControls" role="button" data-slide="prev">
        <button class="btn btn-disc">
        <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#ImportantControls" role="button" data-slide="next">
        <button class="btn btn-disc">
        <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="home-view-more">
    <button class="btn btn-action btn-default btn-large d-flex align-items-center">
        View more
    </button>
</div>