<div class="homeblock-title d-flex flex-column flex-md-row">
    <div class="d-flex flex-grow-1 flex-column align-items-center flex-md-row">
        <span class="ipx-rounded-icon is-news flex-shrink-0 mb-2 mb-md-0"></span>
        <h2 class="">News</h2>
    </div>
    <!-- ADD homeblock-filter COMPONENT -->
</div>
<div id="infoNewsControls" class="carousel home-carousel home-news-cards slide" data-ride="carousel" data-interval="100000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- INSERT CONTENT OF SLIDE 1 (3 cards) -->
        </div>
        <div class="carousel-item">
            <!-- INSERT CONTENT OF SLIDE 2 (3 cards) -->
        </div>
        <div class="carousel-item">
            <!-- INSERT CONTENT OF SLIDE 3 (3 cards) -->
        </div>
    </div>
    <a class="carousel-control-prev" href="#infoNewsControls" role="button" data-slide="prev">
        <button class="btn btn-disc">
        <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#infoNewsControls" role="button" data-slide="next">
        <button class="btn btn-disc">
        <i class="material-icons">keyboard_arrow_right</i>
        </button>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="home-view-more">
    <button class="btn btn-action btn-default btn-large d-flex align-items-center">
        View more
    </button>
</div>
