<h2 class="section-title text-center">Subscribe! <span class="lead">Get notified about...</span></h2>
<div class="d-flex flex-wrap">
    <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive1 }" v-on:click="isActive1 = !isActive1">
        <h5>Important information to exchange</h5>
        <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <i class="material-icons">check_circle</i>
    </div>
    <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive2 }" v-on:click="isActive2 = !isActive2">
        <h5>Reasoned opinions</h5>
        <p>A selection of reasoned opinions related documents eiusmod tempor incididunt ut labore et dolore magna aliqua tempor incididunt. </p>
        <i class="material-icons">check_circle</i>
    </div>
    <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive3 }" v-on:click="isActive3 = !isActive3">
        <h5>Brexit related</h5>
        <p>A selection of important information to exchange eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <i class="material-icons">check_circle</i>
    </div>
    <div class="d-flex flex-column justify-content-start align-items-start p-4 stored-search-box" v-bind:class="{ 'stored-search-selected': isActive4 }" v-on:click="isActive4 = !isActive4">
        <h5>Coming events</h5>
        <p>A selection of coming events eiusmod tempor incididunt ut labore et dolore magna aliqua eiusmod tempor ut labore. </p>
        <i class="material-icons">check_circle</i>
    </div>
</div>
<div class="d-flex justify-content-center w-100 mt-5">
    <button class="btn btn-action btn-large btn-bordered d-flex align-items-center">
        View more
    </button>
</div>
