<div class="homeblock-title d-flex">
    <div class="d-flex flex-grow-1">
        <span v-if="isShare" class="is-share"><i class="material-icons">shuffle</i></span>
        <span v-if="isHigh" class="is-high"><i class="material-icons">find_in_page</i></span>
        <span v-if="isEvents" class="is-events"><i class="material-icons">event</i></span>
        <span v-if="isNews" class="is-news"><i class="material-icons">format_quote</i></span>
        <h2 class="">{{title}}</h2>
    </div>
    <div v-if="hasFilter" class="homeblock-filter">
        <select class="custom-select custom-select-sm">
            <option selected>{{filterdefault}}</option>
            <option value="1">First option</option>
            <option value="2">Second option</option>
            <option value="2">Third option</option>
        </select>
    </div>
</div>