<h2 class="section-title">Classification</h2>
<div class="row">
    <div class="col-sm-6">
        <h5 class="pt-sm-0">EUROVOC descriptors</h5>
        <ul class="ipx-list-links">
            <li>
                <a href="#" class="external-link">Atmospheric pollutant</a>
            </li>
            <li>
                <a href="#" class="external-link">Consumption</a>
            </li>
            <li>
                <a href="#" class="external-link">Environmental monitoring</a>
            </li>
            <li>
                <a href="#" class="external-link">Environmental policy</a>
            </li>
            <li>
                <a href="#" class="external-link">Motor vehicle pollution</a>
            </li>
            <li>
                <a href="#" class="external-link">Petroleum product</a>
            </li>
            <li>
                <a href="#" class="external-link">Pollution</a>
            </li>
            <li>
                <a href="#" class="external-link">Vehicle fleet</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h5 class="pt-sm-0">Subject matters</h5>
        <ul class="ipx-list-links">      
            <li>
                <a href="#" class="external-link">Monitoring of atmospheric pollution</a>
            </li>
            <li>
                <a href="#" class="external-link">Motor vehicles</a>
            </li>
            <li>
                <a href="#" class="external-link">Relations in the context of the General Agreement on Tariffs and Trade (GATT)</a>
            </li>
            <li>
                <a href="#" class="external-link">Asian countries</a>
            </li>
            <li>
                <a href="#" class="external-link">Tariff classification</a>
            </li>
        </ul>
    </div>
</div>