<!-- Document activity -->
<div class="document-activity"><!-- .mr-5 class is specific to this block. -->
    <div>
        <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
            <span>R</span>
            <span class="sr-only">Reasoned opinion</span>
        </button>
        <span>
            <strong>3</strong> reasoned opinions have been sent
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
            <span>D</span>
            <span class="sr-only">Political dialogue</span>
        </button>
        <span>
            <strong>2</strong> political dialogues
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-exchange ipx-tag shadow-sm">
            <span>E</span>
            <span class="sr-only">Information</span>
        </button>
        <span>
            <strong>1</strong>
            <em>important information to exchange</em> notification
        </span>
    </div>
</div>