<section>
    <h1 class="page-title">
        COM/2006/0147FIN
    </h1>
    <p class="lead pt-3 pb-2">
    Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff 
    </p>
    <div class="d-flex justify-content-between p-0 flex-wrap pt-3 mb-4">
        <!-- Document activity -->
        <div class="document-activity mr-5"><!-- .mr-5 class is specific to this block. -->
            <div>
                <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                    <span>R</span>
                    <span class="sr-only">Reasoned opinion</span>
                </button>
                <span>
                    <strong>3</strong> reasoned opinions have been sent
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
                    <span>D</span>
                    <span class="sr-only">Political dialogue</span>
                </button>
                <span>
                    <strong>2</strong> political dialogues
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-exchange ipx-tag shadow-sm">
                    <span>E</span>
                    <span class="sr-only">Information</span>
                </button>
                <span>
                    <strong>1</strong>
                    <em>important information to exchange</em> notification
                </span>
            </div>
        </div>
        <!-- Document timeline -->
        <div class="timeline flex-grow-1 d-flex align-items-center">
            <div class="adoption-block">
                <span>Adoption</span>
                <span class="date">02/01/19</span>
            </div>
            <div class="line flex-grow-1">
                <div class="progress">
                    <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 65%;"></div>
                </div>
                <div class="tl-event type-today" style="left: 65%;" title="23/09/2019">
                    <span style="height:70px;">Today</span>
                </div>
            </div>
            <div class="deadline-block">
                <span>Subsidiarity<br>deadline</span>
                <span class="date">04/09/19</span>
            </div>
        </div>
    </div>
</section>