<div class="external-contents d-flex align-items-center flex-wrap ">
    <a href="https://oeil.secure.europarl.europa.eu/oeil/home/home.do" target="_blank" class="oeil-card">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/img/oeil-logo2.png" alt="">
        </div>
    </a>
    <a href="https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=COM:2008:0606:FIN" target="_blank" class="eurlex-card">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/img/eurlex.png" alt="EUR-Lex logo">
        </div>
    </a>
    <a href="https://portal.cor.europa.eu/subsidiarity/regpex/Pages/default.aspx" target="_blank" title="European Committee of the Regions" class="regpex-card">
        <div class="d-flex align-items-center justify-content-center">
            <img src="/img/logo_CoR.png" alt="Committee of the Regions logo">
            <span class="regpex-label">RegPEX</span>
        </div>
    </a>
</div>