<div class="ipx-filters d-flex align-items-center flex-wrap justify-content-between">
    <div class="flex-shrink-0 my-2">
        <label class="mr-3 my-0" for="">Show:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="exampleRadios" checked>
            <label class="form-check-label" for="inlineCheckbox1">All</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2" name="exampleRadios">
            <label class="form-check-label" for="inlineCheckbox2">Candidates</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option2" name="exampleRadios">
            <label class="form-check-label" for="inlineCheckbox3">Last update</label>
        </div>
    </div>
    <div class="flex-grow-1 d-flex ml-2">
        <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="A reasoned opinion has been sent">R</button>
        <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political Dialogue">D</button>
        <button type="button" class="btn btn-exchange ipx-tag shadow-sm" title="There is important information to exchange">E</button>
        <button type="button" class="btn btn-opposition ipx-tag shadow-sm disabled" title="A national Parliament makes known its opposition to bridging clauses">O</button>
        <button type="button" class="btn btn-subsidiarity ipx-tag shadow-sm disabled" title="Subsidiarity procedure is in progress and there are possible concerns. This symbol is no longer in use as of 22nd June 2012">S</button>
    </div>
    <div class="flex-shrink-0 d-flex align-items-center my-2">
        <label class="mr-3 flex-shrink-0 my-0" for="">Sort by</label>
        <select class="custom-select custom-select-sm">
            <option selected>Most recent</option>
            <option value="Progress">Progress</option>
            <option value="Countries A > Z">Countries A > Z</option>
            <option value="Chambers A > Z">Chambers A > Z</option>
        </select>
    </div>
</div>