<div id="Event2" class="lisbon-block dialog">
    <div>
        <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political dialogue">
        
        <span>Political dialogue</span>
        </button>
    </div>
    <p class="lisbon-block-description">26/02/2019 | Report 8/2019 of 26/02/2019 on COM (2019) 38 final</p>
    <p>On 26 February 2019, the Joint Committee for EU Affairs adopted a Resolution regarding the compliance of the initiative with the principle of subsidiarity.</p>
    <p>The Resolution states that the proposal is in accordance with the principle of subsidiarity.</p>
    <ul class="ipx-list">
        <li>
            <a href="#">Report 8/2019 of 26/02/2019 on COM (2019) 38 final (ES)</a>
        </li>
    </ul>
</div>
<div id="Event1" class="lisbon-block opinion">
    <div>
        <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="Reasoned opinion">
            <span>Reasoned opinion</span>
        </button>
    </div>
    <p class="lisbon-block-description">26/02/2019 | Report 8/2019 of 26/02/2019</p>
    <p>The Resolution states that the proposal is in accordance with the principle of subsidiarity.</p>
</div>