<ul class="list-tags">
    <li title="English" class="nav-item">
        <span>EN</span>
        <!-- Only if available in PDF -->
        <a href="#" class="link-pdf pdf-icon" title="Download .pdf file">pdf</a>
        <!-- Only if available in DOC -->
        <a href="#" class="link-doc doc-icon" title="Download .doc file">doc</a>
    </li>
    <li title="Français" class="nav-item">
        <span>FR</span>
        <a href="#" class="link-pdf pdf-icon" title="Download .pdf file">pdf</a>
    </li>
    <li title="Deutsch" class="nav-item">
        <span>DE</span>
        <a href="#" class="link-doc doc-icon" title="Download .doc file">doc</a>
    </li>
</ul>