<div class="scrutiny-activity">
    <div>
        <button type="button" class="btn btn-saisine ipx-tag shadow-sm">
            <span class="material-icons md-18">mail</span>
            <span class="sr-only">Lettre de saisine</span>
        </button>
        <span>
            29/01/2019 : <strong>Lettre de saisine</strong> has been released
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="A reasoned opinion has been sent">
            <span>R</span>
            <span class="sr-only">Reasoned opinion</span>
        </button>
        <span>
            10/03/2019 : A <strong>reasoned opinion</strong> has been sent
        </span>
    </div>
    <div>
        <!-- Display if relevant. -->
        <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political Dialogue">
            <span>D</span>
            <span class="sr-only">Political dialogue</span>
        </button>
        <span>
            25/05/2019 : A <strong>political dialogue</strong> has been initiated
        </span>
    </div>
    
    <!-- Add others if needed (Opposition, etc..) -->
    <div>
        <button type="button" class="btn btn-exchange ipx-tag shadow-sm" title="There is important information to exchange">
            <span>E</span>
            <span class="sr-only">Important information to exchange</span>
        </button>
        <span>
            10/03/2019 : There is <strong>important information to exchange</strong>
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-opposition ipx-tag shadow-sm" title="A national Parliament makes known its opposition to bridging clauses">
            <span>O</span>
            <span class="sr-only">Opposition</span>
        </button>
        <span>
            10/03/2019 : A national Parliament makes known its <strong>Opposition</strong>
        </span>
    </div>
    <div>
        <button type="button" class="btn btn-subsidiarity ipx-tag shadow-sm" title="Subsidiarity procedure is in progress and there are possible concerns. This symbol is no longer in use as of 22nd June 2012">
            <span>S</span>
            <span class="sr-only">Subsidiarity</span>
        </button>
        <span>
            10/03/2019 : <strong>Subsidiarity procedure</strong> is in progress and there are possible concerns.
        </span>
    </div>
</div>