<section>
    <h2 class="section-title mb-0">
        COM/2006/0147FIN
    </h2>
    <p class="lead pt-3 pb-2">
    Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff 
    </p>
    <div class="dossier-ref d-flex align-items-center">
        <i class="material-icons mr-2">folder_open</i>
        <a href="/documents/dossier" title="Go to the dossier">Dossier ACC/2007/0060</a>
    </div>
    <p class="lead pt-3 pb-2">
    Proposal for a Council Regulation concerning the implementation of the Agreement concluded by the EC following negotiations in the framework of Article XXIV.6 of GATT 1994, amending Annex I to Regulation (EEC) No 2658/87 on the tariff and statistical nomenclature and on the Common Customs Tariff 
    </p>
    <div>
        <ul class="ipx-list has-bullets">
            <li id="Eventreferral">
                <a href="#" target="_blank">
                    <strong class="mr-2">Letter of referral:</strong>29/01/2019
                </a>
            </li>
            <li>
                <strong class="mr-2">Adoption date:</strong>
                <a href="#" target="_blank">02/01/19</a>
            </li>
            <li>
                <strong class="mr-2">Related documents:</strong>
                <a class="mr-2" href="#" target="_blank">SWD/2017/0189</a>
                <a class="mr-2" href="#" target="_blank">SWD/2017/0188</a>
                <a class="mr-2" href="#" target="_blank">COM/2017/0279</a>
            </li> 
        </ul>
    </div>
    <h2 class="section-title">Scrutiny information</h2>
    <ul class="ipx-list has-bullets">
        <li>
            <strong class="mr-2">Scrutiny title:</strong>Lorem ipsum test
        </li>
        <li>
            <strong class="mr-2">Subsidiarity deadline:</strong>02/04/19
        </li>
        <li>
            <strong class="mr-2">Subsidiarity Concern:</strong>
        </li>
        <li>
            <strong class="mr-2">Important information to exchange:</strong>No
        </li>
        <li>
            <strong class="mr-2">Veto:</strong>No
        </li>
    </ul>
    <h2 class="section-title">
        Information on parliamentary scrutiny
    </h2>
    <p>Referred to Committees on:</p>
    <ul class="ipx-list has-bullets">
        <li>European Union Questions</li>
        <li>Agricultural Policy and Consumer protection</li>
        <li>Environment, Nature protection and Reactor Safety</li>
        <li>Economic Affairs</li>
    </ul>
    <h2 class="section-title">Linked files</h2>
    <ul class="ipx-list-files ipx-list-2col collapse show" id="collapseFiles">
        <li>
            <a href="#">Invitation</a>
            <div class="file-metas d-flex align-items-center">
                <span class="file-type file-type-pdf">pdf</span>
                <div class="lang-tags">
                    <span>EN</span>
                </div>
                <span class="file-size">381 KB / 04/12/2018</span>
            </div>
        </li>
        <li>
            <a href="#">Draft Programme EUSC (12.02.)</a>
            <div class="file-metas d-flex align-items-center">
                <span class="file-type file-type-pdf">pdf</span>
                <div class="lang-tags">
                    <span>EN</span>
                </div>
                <span class="file-size">435 KB / 04/12/2018</span>
            </div>
        </li>
        <li>
            <a href="#">Draft agenda Presidential troika</a>
            <div class="file-metas d-flex align-items-center">
                <span class="file-type file-type-doc">doc</span>
                <div class="lang-tags">
                    <span>EN</span>
                </div>
                <span class="file-size">311 KB / 04/12/2018</span>
            </div>
        </li>
        <li>
            <a href="#">Draft agenda Presidential troika</a>
            <div class="file-metas d-flex align-items-center">
                <span class="file-type file-type-doc">doc</span>
                <div class="lang-tags">
                    <span>EN</span>
                </div>
                <span class="file-size">311 KB / 04/12/2018</span>
            </div>
        </li>
        <li>
            <a href="#">Draft Programme EUSC (12.02.)</a>
            <div class="file-metas d-flex align-items-center">
                <span class="file-type file-type-pdf">pdf</span>
                <div class="lang-tags">
                    <span>EN</span>
                </div>
                <span class="file-size">435 KB / 04/12/2018</span>
            </div>
        </li>
    </ul>
</section>