<div class="ipx-card-list ipx-card-list-3col">
    <!-- SEE Card-Scrutiny Component-->
    <a href="/documents/scrutiny" class="ipx-card ipx-card-scrutiny">
        <span class="flag flag-xs mr-2 d-none" class="flag-be"></span>
        <div class="d-flex">
            <span class="chamber flex-grow-1">Sénat</span>
            <div class="d-flex mb-1">
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="A reasoned opinion has been sent">
                    <span>R</span>
                    <span class="sr-only">Reasoned opinion</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political Dialogue">
                    <span>D</span>
                    <span class="sr-only">Political dialogue</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-exchange ipx-tag shadow-sm" title="There is important information to exchange">
                    <span>E</span>
                    <span class="sr-only">Important information to exchange</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-opposition ipx-tag shadow-sm" title="A national Parliament makes known its opposition to bridging clauses">
                    <span>O</span>
                    <span class="sr-only">Opposition</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-subsidiarity ipx-tag shadow-sm" title="Subsidiarity procedure is in progress and there are possible concerns. This symbol is no longer in use as of 22nd June 2012">
                    <span>S</span>
                    <span class="sr-only">Subsidiarity</span>
                </button>
            </div>
        </div>
        <div class="progress progress-xs">
            <!-- Add classes : .bg-default if noinfo, .bg-info if inprogress, .bg-success if completed -->
            <div title="In progress" class="progress-bar" role="progressbar" style="width:65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="bg-info">
            </div>
        </div>
        <div>
            <span class="flag flag-xs" class="flag-be"></span>
            <span class="country">Belgium</span>
        </div>
        <div class="d-flex d-md-none justify-content-center mb-3">
            <a href="" class="btn btn-action">View scrutiny</a>
        </div>
    </a>
    <a href="/documents/scrutiny" class="ipx-card ipx-card-scrutiny">
        <span class="flag flag-xs mr-2 d-none" class="flag-be"></span>
        <div class="d-flex">
            <span class="chamber flex-grow-1">Sénat</span>
            <div class="d-flex mb-1">
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="A reasoned opinion has been sent">
                    <span>R</span>
                    <span class="sr-only">Reasoned opinion</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political Dialogue">
                    <span>D</span>
                    <span class="sr-only">Political dialogue</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-exchange ipx-tag shadow-sm" title="There is important information to exchange">
                    <span>E</span>
                    <span class="sr-only">Important information to exchange</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-opposition ipx-tag shadow-sm" title="A national Parliament makes known its opposition to bridging clauses">
                    <span>O</span>
                    <span class="sr-only">Opposition</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-subsidiarity ipx-tag shadow-sm" title="Subsidiarity procedure is in progress and there are possible concerns. This symbol is no longer in use as of 22nd June 2012">
                    <span>S</span>
                    <span class="sr-only">Subsidiarity</span>
                </button>
            </div>
        </div>
        <div class="progress progress-xs">
            <!-- Add classes : .bg-default if noinfo, .bg-info if inprogress, .bg-success if completed -->
            <div title="In progress" class="progress-bar" role="progressbar" style="width:65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="bg-info">
            </div>
        </div>
        <div>
            <span class="flag flag-xs" class="flag-be"></span>
            <span class="country">Belgium</span>
        </div>
        <div class="d-flex d-md-none justify-content-center mb-3">
            <a href="" class="btn btn-action">View scrutiny</a>
        </div>
    </a>
    <a href="/documents/scrutiny" class="ipx-card ipx-card-scrutiny">
        <span class="flag flag-xs mr-2 d-none" class="flag-be"></span>
        <div class="d-flex">
            <span class="chamber flex-grow-1">Sénat</span>
            <div class="d-flex mb-1">
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-opinion ipx-tag shadow-sm" title="A reasoned opinion has been sent">
                    <span>R</span>
                    <span class="sr-only">Reasoned opinion</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-dialog ipx-tag shadow-sm" title="Political Dialogue">
                    <span>D</span>
                    <span class="sr-only">Political dialogue</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-exchange ipx-tag shadow-sm" title="There is important information to exchange">
                    <span>E</span>
                    <span class="sr-only">Important information to exchange</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-opposition ipx-tag shadow-sm" title="A national Parliament makes known its opposition to bridging clauses">
                    <span>O</span>
                    <span class="sr-only">Opposition</span>
                </button>
                <!-- Display if relevant. -->
                <button type="button" class="btn btn-subsidiarity ipx-tag shadow-sm" title="Subsidiarity procedure is in progress and there are possible concerns. This symbol is no longer in use as of 22nd June 2012">
                    <span>S</span>
                    <span class="sr-only">Subsidiarity</span>
                </button>
            </div>
        </div>
        <div class="progress progress-xs">
            <!-- Add classes : .bg-default if noinfo, .bg-info if inprogress, .bg-success if completed -->
            <div title="In progress" class="progress-bar" role="progressbar" style="width:65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="bg-info">
            </div>
        </div>
        <div>
            <span class="flag flag-xs" class="flag-be"></span>
            <span class="country">Belgium</span>
        </div>
        <div class="d-flex d-md-none justify-content-center mb-3">
            <a href="" class="btn btn-action">View scrutiny</a>
        </div>
    </a>
</div>