<div class="timeline timeline-tags flex-grow-1 d-flex align-items-center mt-3">
    <div class="adoption-block">
        <span>Adoption</span>
        <span class="date">02/01/19</span>
    </div>
    <div class="line flex-grow-1">
        <div class="progress">
            <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 65%;"></div>
        </div>
            <div class="tl-event type-today" style="left: 65%;" title="26/05/2019">
                <span>Today</span>
            </div>
            <a href="#Eventreferral" class="tl-event type-saisine" style="left:5%;" title="Lettre de saisine">
            <div>
                <button type="button" class="btn btn-saisine ipx-tag shadow-sm">
                    <span class="material-icons md-18">mail</span>
                    <span class="sr-only">Lettre de saisine</span>
                </button>
            </div>
            <span class="timeline-date">29/01/19</span>
        </a>
        <a href="#Event1" class="tl-event type-opinion" style="left:28.75%;" title="A reasoned opinion has been sent">
            <button type="button" class="btn btn-opinion ipx-tag shadow-sm">
                <span>R</span>
                <span class="sr-only">Reasoned opinion</span>
            </button>
            <span class="timeline-date">10/03/19</span>
        </a>
        <a href="#Event2" class="tl-event type-dialog" style="left:52.75%;" title="Political dialogue">
            <button type="button" class="btn btn-dialog ipx-tag shadow-sm">
                <span>D</span>
                <span class="sr-only">Political dialogue</span>
            </button>
            <span class="timeline-date">25/05/19</span>
        </a>
    </div>
    <div class="deadline-block">
        <span>Subsidiarity<br>deadline</span>
        <span class="date">04/09/19</span>
    </div>
</div>