<div class="timeline flex-grow-1 d-flex align-items-center">
    <div class="adoption-block">
        <span>Adoption</span>
        <span class="date">02/01/19</span>
    </div>
    <div class="line flex-grow-1">
        <div class="progress">
            <!-- Add classes : .bg-default if noinfo, .bg-info if inprogress, .bg-success if completed -->
            <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 65%;"></div>
        </div>
        <div class="tl-event type-today" style="left: 65%;" title="23/09/2019">
            <span style="height:70px;">Today</span>
        </div>
    </div>
    <div class="deadline-block">
        <span>Subsidiarity<br>deadline</span>
        <span class="date">04/09/19</span>
    </div>
</div>