<!--
Do not insert this comment.
IPEXL-923
[LegislativeProposalView] 
Add a expand/collapse arrow to sections on LegislativeProposalPage
NOTE: Action should be on the H2 (not only the button element). aria-expanded is either true or false.
-->
<section>
    <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0" aria-expanded="true">
        Scrutinies
        <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
            <i class="material-icons md-36">keyboard_arrow_down</i>
        </button>
    </h2>
    <div class="ipx-collapse-section-content">
        <!-- Scrutiny filters -->
        <!-- Scrutinies -->
    </div>
</section>
<section>
    <h2 role="button" class="section-title ipx-collapse-section-title d-flex align-items-start justify-content-between mt-0">
        Languages
        <button type="button" class="btn d-inline-flex justify-content-center align-items-center p-0 ml-4">
            <i class="material-icons md-36">keyboard_arrow_down</i>
        </button>
    </h2>
    <div class="ipx-collapse-section-content">
        <!-- Languages -->
    </div>
</section>