<div class="form-row d-flex align-items-center mt-4">
    <div class="col-sm-6 form-group ">
        <label for="eventType">Event type</label>
        <select id="eventType" class="form-control select-ipex">
            <option selected>All</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-sm-6 form-group">
        <label for="Inst">Institutions</label>
        <select id="Inst" class="form-control select-ipex">
            <option selected>All</option>
            <option>...</option>
        </select>
    </div>
</div>
<div class="ipx-filters d-flex align-items-center flex-wrap justify-content-between">
    <div class="flex-shrink-0 my-2">
        <label class="mr-3 my-0" for="">Show:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox1" value="option1" name="exampleRadios" checked>
            <label class="form-check-label" for="inlineCheckbox1">All</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" value="option2" name="exampleRadios">
            <label class="form-check-label" for="inlineCheckbox2">This month</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox3" value="option2" name="exampleRadios">
            <label class="form-check-label" for="inlineCheckbox3">This year</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox4" value="option4" name="example">
            <label class="form-check-label" for="inlineCheckbox4">Date range</label>
        </div>
    </div>
    <div class="flex-shrink-0 d-flex align-items-center my-2">
        <a href="#" class="btn btn-sm btn-light">View calendar</a>
    </div>
</div>