<!-- Large input for filtering -->
<div class="ipx-input-container ipx-input-container-large d-flex">
    <input id="InsertID" type="text" placeholder="Insert placeholder here" autofocus="autofocus" class="form-control ipx-input-large">
</div>

<!-- Large input with button for searching -->
<div class="ipx-input-container ipx-input-container-large d-flex">
    <input id="InsertID" type="text" placeholder="Insert placeholder here" autofocus="autofocus" class="form-control ipx-input-large has-button">
    <a href="#" class="btn btn-action btn-flash d-flex align-items-center px-4">Search</a>
</div>