<div class="previousnext-navigation d-flex justify-content-between align-items-center mt-5">
    <a href="/details/news" class="btn btn-default d-flex align-items-center pl-0" title="Previous">
        <span class="material-icons md-48 mr-2">keyboard_arrow_left</span><span class="d-none d-sm-flex">Previous</span>
    </a>
    <a href="/details/news2" class="btn btn-default d-flex align-items-center pr-0" title="Next">
        <span class="d-none d-sm-flex">Next</span><span class="material-icons md-48 ml-2">keyboard_arrow_right</span>
    </a>
</div>