<div class="breadcrumb-container">
    <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb ipx-breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/cms/">CMS</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Base template</li>
        </ol>
    </nav>
</div>