<header class="ipx-header">
    <div class="container d-flex flex-column">
        <div class="header-top">
            <!-- INSERT ipex-logo.html -->
            <div class="site-params d-flex justify-content-between justify-content-lg-end align-items-start">
                <!-- INSERT language-menu.html -->
                <!-- INSERT user-menu.html -->
            </div>
        </div>
        <div class="header-bottom">
            <!-- INSERT main-menu.html -->
        </div>
    </div>
</header>