<!-- This logo is hidden on mobile devices -->
<div class="branding flex-shrink-0 d-none d-lg-flex">
    <a href="/" alt="IPEX homepage">
        <img class="ipex-logo" src="/assets/img/ipex-logo-light.svg" alt="IPEX logo">
        <h6 class="mx-0 p-0 mt-2 mb-2">The platform for EU Interparliamentary Exchange</h6>
    </a>
</div>