<div class="d-lg-none">
    <a class="btn btn-languages" data-toggle="collapse" href="#languagesMobile" role="button" aria-expanded="false" aria-controls="languagesMobile">
        <i class="material-icons">languages</i> Choose your language
    </a>
    <div class="collapse" id="languagesMobile">
        <div class="languages-mobile d-flex flex-wrap">
            <a class="active" href="#" title="en - english" lang="en">en - english</a>
            <a href="#" title="fr - français" lang="fr">fr - français</a>
            <span class="vertical-divider"></span>
            <a href="#" title="bg - български" lang="bg">bg – български</a>
            <a href="#" title="cs – ĉeština" lang="cs">cs – ĉeština</a>
            <a href="#" title="hr -hrvatski" lang="hr">hr – hrvatski</a>
            <a href="#" title="da – dansk" lang="da">da – dansk</a>
            <a href="#" title="de – deutsch" lang="de">de – deutsch</a>
            <a href="#" title="el – ελληνικά" lang="el">el – ελληνικά</a>
            <a href="#" title="es – español" lang="es">es – español</a>
            <a href="#" title="et - eesti keel" lang="et">et – eesti keel</a>
            <a href="#" title="fi – suomi" lang="fi">fi – suomi</a>
            <a href="#" title="ga - Gaelige" lang="ga">ga – gaelige</a>
            <a href="#" title="hu – magyar" lang="hu">hu – magyar</a>
            <a href="#" title="it – italiano" lang="it">it – italiano</a>
            <a href="#" title="lt - lietuvių kalba" lang="lt">lt – lietuvių kalba</a>
            <a href="#" title="lv – latviešu valoda" lang="lv">lv – latviešu valoda</a>
            <a href="#" title="mt - Malti" lang="mt">mt – malti</a>
            <a href="#" title="nl - Nederlands" lang="nl">nl – nederlands</a>
            <a href="#" title="pl - polski" lang="pl">pl – polski</a>
            <a href="#" title="pt - português" lang="PT">pt – português</a>
            <a href="#" title="ro - românǎ" lang="pt">ro – românǎ</a>
            <a href="#" title="sk-  slovenčina" lang="sk">sk – slovenčina</a>
            <a href="#" title="sl -slovenŝčina" lang="sl">sl – slovenŝčina</a>
            <a href="#" title="sv-  svenska" lang="sv">sv – svenska</a>
        </div>
    </div>
</div>