<div class="language-zone d-none d-lg-flex">
    <button class="btn btn-rounded btn-active" type="button" id="languageMenu">
        en
    </button>
    <div class="dropdown mx-lg-2 ml-auto flex-shrink-0 hover-dropdown">
        <button class="btn btn-rounded text-white d-flex align-items-center" type="button" id="languageMenu">
            fr – français
        </button>
        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="languageMenu">
            <a class="dropdown-item" href="#" title="fr - français" lang="fr">fr – Français</a>
            <div class="dropdown-line"></div>
            <a class="dropdown-item" href="#" title="bg- български" lang="BG">bg – български</a>
            <a class="dropdown-item" href="#" title="cs – ĉeština" lang="cs">cs – ĉeština</a>
            <a class="dropdown-item" href="#" title="hr -hrvatski" lang="hr">hr – hrvatski</a>
            <a class="dropdown-item" href="#" title="da – dansk" lang="da">da – dansk</a>
            <a class="dropdown-item" href="#" title="de – deutsch" lang="de">de – deutsch</a>
            <a class="dropdown-item" href="#" title="el – ελληνικά" lang="el">el – ελληνικά</a>
            <a class="dropdown-item" href="#" title="es – español" lang="es">es – español</a>
            <a class="dropdown-item" href="#" title="et - eesti keel" lang="et">et – eesti keel</a>
            <a class="dropdown-item" href="#" title="fi – suomi" lang="fi">fi – suomi</a>
            <a class="dropdown-item" href="#" title="ga - Gaelige" lang="ga">ga – gaelige</a>
            <a class="dropdown-item" href="#" title="hu – magyar" lang="hu">hu – magyar</a>
            <a class="dropdown-item" href="#" title="it – italiano" lang="it">it – italiano</a>
            <a class="dropdown-item" href="#" title="lt - lietuvių kalba" lang="lt">lt – lietuvių kalba</a>
            <a class="dropdown-item" href="#" title="lv – latviešu valoda" lang="lv">lv – latviešu valoda</a>
            <a class="dropdown-item" href="#" title="mt - Malti" lang="mt">mt – malti</a>
            <a class="dropdown-item" href="#" title="nl - Nederlands" lang="nl">nl – nederlands</a>
            <a class="dropdown-item" href="#" title="pl - polski" lang="pl">pl – polski</a>
            <a class="dropdown-item" href="#" title="pt - português" lang="PT">pt – português</a>
            <a class="dropdown-item" href="#" title="ro - românǎ" lang="pt">ro – românǎ</a>
            <a class="dropdown-item" href="#" title="sk-  slovenčina" lang="sk">sk – slovenčina</a>
            <a class="dropdown-item" href="#" title="sl -slovenŝčina" lang="sl">sl – slovenŝčina</a>
            <a class="dropdown-item" href="#" title="sv-  svenska" lang="sv">sv – svenska</a>
        </div>
    </div>
</div>