<div class="ipx-search navbar-nav">
    <div class="nav-item dropdown d-flex">
        <button class="btn text-white align-items-center d-none d-lg-flex trigger-search px-0 py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="material-icons">search</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-search shadow" aria-labelledby="mainSearch">
            <div class="d-flex align-items-center mb-3 form-squared">
                <input placeholder="Type something" class="form-control flex-grow-1">
                <button class="btn font-weight-bold d-flex align-items-center justify-content-center">
                    <span class="material-icons">arrow_forward</span>
                </button>
            </div>
            <h5>Advanced search in</h5>
            <div class="d-flex">
                <a class="dropdown-item d-flex flex-column align-items-center" href="#" title="Search documents">
                    <img src="/assets/img/icons/icon-search-documents.svg" class="icon-search is-documents" alt="Search documents icon">
                    <span>Documents</span>
                </a>
                <a class="dropdown-item d-flex flex-column align-items-center" href="#" title="Search calendar">
                    <img src="/assets/img/icons/icon-search-calendar.svg" class="icon-search is-calendar" alt="Search calendar icon">
                    <span>Calendar</span>
                </a>
                <a class="dropdown-item d-flex flex-column align-items-center" href="#" title="Search news">
                    <img src="/assets/img/icons/icon-search-news.svg" class="icon-search is-news" alt="Search news icon">
                    <span>News</span>
                </a>
                <a class="dropdown-item d-flex flex-column align-items-center" href="#" title="Search parliaments">
                    <img src="/assets/img/icons/icon-search-parliaments.svg" class="icon-search is-parliaments" alt="Search parliaments icon">
                    <span>Parliaments</span>
                </a>
                <a class="dropdown-item d-flex flex-column align-items-center" href="#" title="Search conferences">
                    <img src="/assets/img/icons/icon-search-conferences.svg" class="icon-search is-conferences" alt="Search conferences icon">
                    <span>Conferences</span>
                </a>
            </div>
        </div>
    </div>
</div>