<nav class="ipx-menu navbar navbar-expand-lg navbar-dark">
  <a class="ipx-logo-mobile d-lg-none" href="#" alt="Go to IPEX frontpage">
    <img class="d-flex d-lg-none" src="/assets/img/ipex-logo-light.svg" alt="IPEX logo">
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#ipexMainMenu"
    aria-controls="ipexMainMenu" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons icon-menu">menu</i>
  </button>
  <div class="ipx-mainmenu d-lg-flex" id="ipexMainMenu">
    <ul class="navbar-nav m-auto">
      <li class="nav-item" class="section">
        <a id="item-ipex" class="nav-link px-2" role="button" href="/"> <span class="material-icons">home</span>
        </a>
      </li>
      <li class="nav-item">
        <!-- nav-item needs an "active" class when active -->
        <a class="nav-link" href="/calendar/list-of-events" id="item-calendar" role="button">Calendar</a>
      </li>
      <li class="nav-item dropdown hover-dropdown">
        <!-- nav-item needs an "active" class when active -->
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="item-documents"
          role="button">Documents</a>
        <div class="dropdown-menu" aria-labelledby="item-documents">
          <a class="dropdown-item" href="/documents/subsidiarity">Subsidiarity</a>
          <a class="dropdown-item" href="/documents/european-semester">European Semester</a>
          <a class="dropdown-item" href="/documents/research-papers">EU related research papers</a>
          <a class="dropdown-item" href="/documents/resolution-decisions">Resolution and decisions</a>
          <a class="dropdown-item" href="/documents/reports-and-minutes">Reports and minutes</a>
          <a class="dropdown-item" href="/documents/own">OWN initiative contributions</a>
          <a class="dropdown-item" href="/documents/eu-legislative-databases">EU legislative databases</a>
        </div>
      </li>
      <li class="nav-item dropdown hover-dropdown">
        <!-- nav-item needs an "active" class when active -->
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="/parliaments/splash" id="item-parliaments"
          role="button">Parliaments</a>
        <div class="dropdown-menu" aria-labelledby="item-parliaments">
          <a class="dropdown-item" href="/parliaments/list-of-parliaments">List of parliaments</a>
          <a class="dropdown-item" href="/parliaments/interparliamentary-cooperation">Basic documents</a>
          <a class="dropdown-item" href="/parliaments/news">News from parliaments</a>
        </div>
      </li>
      <li class="nav-item dropdown hover-dropdown">
        <!-- nav-item needs an "active" class when active -->
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="item-conferences"
          role="button">Conferences</a>
        <div class="dropdown-menu" aria-labelledby="item-conferences">
          <a class="dropdown-item" href="/conferences/all-conferences">All Conferences</a>
          <a class="dropdown-item" href="/conferences/eu-speakers">EU Speakers Conference</a>
          <a class="dropdown-item" href="/conferences/cosac">COSAC</a>
          <a class="dropdown-item" href="/conferences/cfsp-csdp">Conference for CFSP/CSDP</a>
          <a class="dropdown-item" href="/conferences/secg">Conference on SECG</a>
          <a class="dropdown-item" href="/conferences/jpsg-on-europol">JPSG on Europol</a>
        </div>
      </li>
      <li class="nav-item dropdown hover-dropdown">
        <!-- nav-item needs an "active" class when active -->
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="item-about" role="button">About</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="item-about">
          <div class="dropdown-col">
            <h4>IPEX</h4>
            <a class="dropdown-item" href="/about/ipex/about-ipex">About IPEX</a>
            <a class="dropdown-item" href="/about/ipex/basic-documents">Basic documents</a>
            <a class="dropdown-item" href="/about/ipex/using-ipex">Using IPEX</a>
            <a class="dropdown-item" href="/about/ipex/archives">Archives</a>
          </div>
          <div class="dropdown-col">
            <h4>Contacts</h4>
            <a class="dropdown-item" href="/about/contacts/speakers">Speakers</a>
            <a class="dropdown-item" href="/about/contacts/secretaries-general">Secretaries general</a>
            <a class="dropdown-item" href="/about/contacts/ipex-board">IPEX board</a>
            <a class="dropdown-item" href="/about/contacts/ipex-correspondents">IPEX correspondents</a>
            <a class="dropdown-item" href="/about/contacts/information-officer">Information officer</a>
            <a class="dropdown-item" href="/about/contacts/contacts-from-cosac">Contacts from COSAC</a>
          </div>
        </div>
      </li>
      <!-- The following search link should appears only on mobile devices.
      if possible to remove this element completely on desktop (like v-if), it is better. 
      Should also toggle the .opened class on the .ipx-mainmenu  -->
      <li class="nav-item dropdown d-lg-none">
        <a class="nav-link d-flex align-items-center" href="#" id="item-search" role="button">Search</a>
      </li>
    </ul>
    <!-- INSERT main-search.html -->
    <!-- INSERT language-mobile.html -->
  </div>
</nav>