<div class="dropdown mx-2 flex-shrink-0 hover-dropdown my-ipex-dropdown">
    <button class="btn btn-rounded text-white" type="button" id="userMenu">
        My IPEX
    </button>
    <div class="user-menu dropdown-menu dropdown-menu-right shadow" aria-labelledby="userMenu">
        <div class="dropdown-header">
            <img class="user-profile user-thumbnail" src="/img/user/man.jpg" alt="Picture of John Doe-Smith">
            <h5>John Doe-Smith</h5>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user/my-ipex">My IPEX</a>
        <a class="dropdown-item" href="/user/manage-my-account">Manage my account</a>
        <a class="dropdown-item" href="/user/my-stored-searches">My stored searches</a>
        <a class="dropdown-item" href="/user/create-an-account">Create an account</a>
        <a class="dropdown-item" href="/user/admin">Administration</a>
        <a class="dropdown-item" href="/user/logout">Log out</a>
        <a class="dropdown-item" href="/user/login">Sign in</a>
    </div>
</div>