@newcontentcolor: #8356ff;//#ff6f56;
@newcontentcolor2: rgb(176, 112, 235);//#d46bee;
@newcontentcolor3: #45d1ca;//#d46bee;

@ncpurple1: #8356ff;
@ncpurple2: rgb(176, 112, 235);
@ncpurplelinks: #6d5dc1;

@ncgreen: rgb(183, 236, 218);
@ncgreen2: rgb(59, 194, 187);


.md-14 {
  font-size:14px;
}


/* ///////////////////////////////// */
/* NEWCONTENT BOX (module + header)
/* ///////////////////////////////// */

.newcontentbox {
  background:lighten(@newcontentcolor, 58%);
  background:  linear-gradient(194deg, lighten(@ncpurple1, 26%) 0%, lighten(@ncpurple2, 26%) 30%, lighten(@baseflash, 48%) 100%);
  a {
    color:@ncpurplelinks;
  }
  .link-icon {
    color:@ncpurplelinks;
    @media @xs-down {
      background:darken(@newcontentcolor2,5%);
      background:lighten(@newcontentcolor, 58%);
      background:  linear-gradient(48deg, @newcontentcolor 2%, @newcontentcolor2 100%);
      color:#ffffff;
    }
  }
  &.newcontentbox-bottom {
    .link-icon {
      color:@ncpurplelinks;
      @media @xs-down {
        background:none;

        color:@ncpurplelinks;
      }
    }
  }
  .next-icon {
    background:@newcontentcolor2;
    background:@ncpurplelinks;
    color:white;
    &:hover {
      background:darken(@ncpurplelinks,5%);
    }
  }
  .next-icon {
    background:@ncpurplelinks;
    color:white;
    &:hover {
      background:darken(@ncpurplelinks,5%);
    }
  }
  .nc-open-icon {
    opacity:.5;
    background:@ncpurplelinks;
    color:white;
    transition:all ease .2s;
    &:hover {
      opacity:1;
      background:darken(@ncpurplelinks,5%);
    }
  }
  /*.badge {
    background:#fff;
    color:#000;
    .material-icons {
      color:#999; 
    }
    &:hover {
      box-shadow: 0px 0px 0px 3px darken(@ncpurplelinks,5%);
      .material-icons {
        color:#444; 
        &:hover {
          color:#111;
        }
      }
    }
  }*/
  .badge {
    background:rgba(255,255,255,.35);
    color:#000;
    .material-icons {
      color:#999; 
    }
    &:hover {
      cursor:text;
      //box-shadow: 0px 0px 0px 3px darken(@ncpurplelinks,5%);
      .material-icons {
        color:#444; 
        &:hover {
          color:#111;
        }
      }
    }
  }
  .files {
    margin-bottom: .5rem;
    //cursor:pointer;
    cursor:default;
    .badge {
      padding:.35rem .5rem;
      margin-right:.25rem;
      color:white;
      font-weight:800;
      background:@ncpurplelinks; 
    }
    /*&:hover {
      .badge {
        background:darken(@ncpurplelinks,2%);
        transform:scale(1.05);
      }
    }*/
  }
}



/* ///////////////////////////////// */
/* NEWCONTENT CARD
/* ///////////////////////////////// */

.newcontent-card {
  .ipx-card-title {
    color:black;
  }
  &::before {
    background:lighten(@newcontentcolor, 58%);
    background:  linear-gradient(194deg, lighten(@newcontentcolor, 20%) 0%, lighten(@baseflash, 45%) 100%);
  }
  &:hover {
    border-color:lighten(@newcontentcolor, 15%);
    &::before {
      background:lighten(@newcontentcolor, 58%);
      background:  linear-gradient(194deg, lighten(@newcontentcolor, 10%) 0%, lighten(@baseflash, 35%) 100%);
    }
  }
  .link-icon {
    color:darken(@newcontentcolor2,5%);
  }
}

/* //////////////////////////// */
/* MODULE FOR LINKED IPEX PAGES
/* //////////////////////////// */

.linked-pages {
  a {
    color:black;
    background:#f9f9f9;
    &::before {
      background:lighten(@newcontentcolor, 58%);
      background:  linear-gradient(194deg, lighten(@newcontentcolor, 20%) 0%, lighten(@baseflash, 45%) 100%);
    }
    &:hover {
      border-color:lighten(@newcontentcolor, 15%);
      &::before {
        background:lighten(@newcontentcolor, 58%);
        background:  linear-gradient(194deg, lighten(@newcontentcolor, 10%) 0%, lighten(@baseflash, 35%) 100%);
      }
    }
    .page-type {
      color:#000;
    }
    .material-icons {
      color:#ccc;
    }
    &:hover {
      background:#f5f5f5;
      color:@baseflash;
      .material-icons {
        color:@baseflash;
      }
    }
  }
}










/* ///////////////////////////////// */
/* NEWCONTENT BOX
/* ///////////////////////////////// */

.newcontentbox {
  @media @xs-down {
    padding-bottom:1.5rem;
  }
  .nc-summary {
    position:relative;
  }
  h1 {
    font-weight:800;
    margin-bottom:.5rem;
  }
  h3 {
    font-weight:800;
    font-size:1.4rem;
  }
  ul {
    list-style-type: square;
    margin-left:1.1rem;
  }

  /* LINK ICON */
  .link-icon {
    position:absolute;
    top:-1.4rem;
    left:-.8rem;
    font-size:3rem;
    transform:rotate(-15deg);
    @media @xs-down {
      /*position:static !important;
      display:flex;
      padding:.6rem;
      font-size:2.56rem !important;
      border-radius:10rem !important;*/
    }
  }
  &.morethanone {
    h3 {
      font-weight:normal;
      display:inline-flex;
      align-items:flex-end;
      strong {
       // font-weight:700;
        margin-right:.5rem;
        font-size:2rem;
      }
    }
  }
  &.newcontentbox-bottom {
    .link-icon {
      @media @xs-down {
        /*position:static !important;
        display:inline-flex;
        margin-top:-2.3rem;
        padding:.6rem 0;
        font-size:4rem !important;
        border-radius:10rem !important;*/
      }
    }
  }
  /* NEXT ICON IN MODULE */
  .next-icon,
  .nc-open-icon {
    border-radius:10rem;
    text-decoration:none;
    padding:.25rem;
    font-size:2.5rem;
    transition:all ease .25s;
    &:hover {
      cursor:pointer;
      transform:scale(1.1);
      text-decoration:none;
    }
  }
  .badge {
    display:inline-flex;
    align-items:center;
    justify-content: center;
    font-weight:400;
    font-size:.8rem;
    padding:.3rem .6rem;
    margin:.3rem .5rem .3rem 0;
    border-radius: 2rem;
    transition:all ease .25s;
    &:hover {
      //cursor:pointer;
      .material-icons {
        transition:all ease .3s;
      }
    }
  }
  .files {
    margin-bottom: .5rem;
    //cursor:pointer;
    cursor:default;
    .badge {
      padding:.35rem .5rem;
      margin-right:.25rem;
      font-weight:800;
    }
  }
  .newcontent-metas {
    > div {
      display:flex;
      flex-wrap:wrap;
      padding:0;
    }
  }
}



/* FLAGS IN BADGES */
.nc-flag {
  box-shadow:none !important;
  width:15px !important;
}
/* LABELS IN METAS */
.nc-label {
  font-weight:600;
  font-size:.9rem;
  flex-shrink: 0;
}

/* ///////////////////// */
/* NEW CONTENT BOTTOM
/* ///////////////////// */

/* ///////////////////// */
/* NEW CONTENT DETAILS
/* ///////////////////// */

.ipx-intro.newcontentbox {
    .container-regular {
        position:relative;
        .link-icon {
          position:absolute;
          top:auto;
          bottom:-5.5rem;
          left:-.75rem;
          font-size:4rem;
            @media @xs-down {
              position:static !important;
              display:flex;
              padding:.6rem;
              font-size:2.56rem !important;
              border-radius:10rem !important;
            }
        }
    }
}

/* ///////////////////// */
/* NEW CONTENT CARD
/* ///////////////////// */

.newcontent-card {
  position:relative;
  .ipx-card-content {
    padding-bottom:.7rem;
  }
  .ipx-card-title {
    display:flex;
    align-items:center;
  }
  // IN SEARCH RESULTS
  &.result-item {
    &::before {
      display:none;
    }
  }
  &::before {
    content:"";
    position:absolute;
    top:-2px;
    left:-2px;
    bottom:-2px;
    width:6px;
    border-radius:.3rem 0 0 .3rem;
  }
  &:hover {
    &::before {
      border-radius:.3rem 0 0 .3rem;
    }
  }
  .link-icon {
    padding:0;
    margin-top:-.4rem;
    font-size:2rem;
    transform:rotate(-15deg);
  }
}

/* //////////////////////////// */
/* MODULE FOR LINKED IPEX PAGES
/* //////////////////////////// */

.linked-pages {
  ul {
    list-style-type:none;
  }
  a {
    position:relative;
    display: flex;
    align-items:center;
    padding:.65rem 1.25rem;
    transition:all ease .3s;
    font-size:1.1rem;
    margin-bottom:.75rem;
    border-radius:.5rem;
    &::before {
      content:"";
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      width:5px;
      border-radius:.3rem 0 0 .3rem;
    }
    &:hover {
      &::before {
        border-radius:.3rem 0 0 .3rem;
      }
    }
    > div {
      padding-right:3rem;
    }
    .page-type {
      font-weight:700;
      font-size:.85rem;
    }
    &:hover {
      text-decoration:none;
    }
  }
}



























































/* ///////////////////////////////// */
/* NEWCONTENT BOX2 (module + header)
/* ///////////////////////////////// */

.newcontentbox2 {
  background:lighten(@newcontentcolor, 58%);
  background:  linear-gradient(194deg, lighten(@ncpurple1, 26%) 0%, lighten(@ncpurple2, 26%) 30%, lighten(@baseflash, 48%) 100%);
  a {
    color:@ncpurplelinks;
  }
  .btn-load {
    background:rgba(255,255,255,.5);
    &:hover {
      background:rgba(255,255,255,.7);
    }
  }
  .link-icon {
    color:@ncpurplelinks;
    @media @xs-down {
      background:darken(@newcontentcolor2,5%);
      background:lighten(@newcontentcolor, 58%);
      background:  linear-gradient(48deg, @newcontentcolor 2%, @newcontentcolor2 100%);
      color:#ffffff;
    }
  }
  &.newcontentbox-bottom {
    .link-icon {
      color:@ncpurplelinks;
      @media @xs-down {
        background:none;

        color:@ncpurplelinks;
      }
    }
  }
  .next-icon {
    background:@newcontentcolor2;
    background:@ncpurplelinks;
    color:white;
    &:hover {
      background:darken(@ncpurplelinks,5%);
    }
  }
  .open-icon {
    background:none;
    //background:@ncpurplelinks;
    //color:white;
    &:hover {
      background:none;
      text-decoration:none;
    }
  }
  .badge {
    background:#fff;
    color:#000;
    .material-icons {
      color:#999; 
    }
    &:hover {
      //box-shadow: 0px 0px 0px 3px darken(@ncpurplelinks,5%);
      .material-icons {
        color:#444; 
        &:hover {
          color:#111;
        }
      }
    }
  }
  .files {
    margin-bottom: .5rem;
    //cursor:pointer;
    .badge {
      padding:.35rem .5rem;
      margin-right:.25rem;
      color:white;
      font-weight:800;
      background:@ncpurplelinks; 
    }
    /*&:hover {
      .badge {
        background:darken(@ncpurplelinks,2%);
        transform:scale(1.05);
      }
    }*/
  }
}
/* ///////////////////////////////// */
/* NEWCONTENT BOX2
/* ///////////////////////////////// */

.newcontentbox2 {
  @media @xs-down {
    padding-bottom:1.5rem;
  }
  .nc-list {
    position:relative;
    width:100%;
  }
  .nc-item {
    display:flex;
    justify-content: space-between;
    //border-bottom:1px solid #111;
    background:#ccc;
    border-radius:.5rem;
    padding:.75rem 1.5rem 1.25rem;
    margin-bottom:.6rem;
    background:rgba(255,255,255,.2);
    transition:all ease .2s;
    &:hover {
      background:rgba(255,255,255,.5);
      cursor:pointer;
      //transform:scale(1.01);
      .nc-title {
        color:@baseflash;
          cursor: pointer;
      }
      .nc-open-icon {
        display:inline-flex;

      }
      .open-icon {
        color:@baseflash;
        transition:all ease .2s;
      }
    }
    &:first-child {
      
    }
    .nc-title {
      
      h3 {
        font-weight:700;
          font-size:1.1rem;
          padding-bottom:.5rem;
          padding-top:.5rem;
     transition:all ease .2s;
      
      }
      p {
        display:flex;
        align-items:center;
      }
      &:hover {
        h3 {
          color:@baseflash;
          cursor: pointer;
        }
        
      }
    }
    /* NEXT ICON IN MODULE */
    .next-icon,
    .nc-open-icon {
      display:none;
      border-radius:10rem;
      text-decoration:none;
      padding:.25rem;
      font-size:2.5rem;
      transition:all ease .25s;
      &:hover {
        cursor:pointer;
        transform:scale(1.1);
        text-decoration:none;
      }
    }
    .open-icon {
      color:transparent;
      transition:all ease .2s;
    }
    &.opened {
      padding-bottom:1.25rem;
      //background:rgba(255,255,255,.5);
      cursor:default;
      &:hover {
        background:rgba(255,255,255,.2);
      }
      .next-icon {
        display:inline-flex;
        cursor:pointer;
        &:hover {
          cursor:pointer;
        }
      }
      .open-icon {
        display:none;
      }
      .nc-link {
        align-items:flex-end;
      }
      .nc-title {
       h3 {
        font-size:1.4rem;

        &:hover {
          color:#000;
          cursor: text;
        }
       }
       p {
         display:none;
       }
      }
      .nc-summary {
        display:block;
      }
    }
  }
  .nc-by {
    font-weight:normal;
    font-size:.9rem;
    p {
      margin:0;
    }
  }
  .nc-summary {
    display:none;
  }
  h1 {
    font-weight:800;
    margin-bottom:.5rem;
  }
  

  ul {
    list-style-type: square;
    margin-left:1.1rem;
  }
  .nc-link {
    display:flex;
    align-items:flex-start;
    padding-top:.5rem;
  }
  /* LINK ICON */
  .link-icon {
    position:absolute;
    top:-1.4rem;
    left:-.8rem;
    font-size:3rem;
    transform:rotate(-15deg);
    @media @xs-down {
      /*position:static !important;
      display:flex;
      padding:.6rem;
      font-size:2.56rem !important;
      border-radius:10rem !important;*/
    }
  }
  &.morethanone {
    h3 {
      font-weight:normal;
      display:inline-flex;
      align-items:flex-end;
      strong {
       // font-weight:700;
        margin-right:.5rem;
        font-size:2rem;
      }
    }
  }
  &.newcontentbox-bottom {
    .link-icon {
      @media @xs-down {}
    }
  }
  
  .badge {
    display:inline-flex;
    align-items:center;
    justify-content: center;
    font-weight:400;
    font-size:.8rem;
    padding:.3rem .6rem;
    margin:.3rem .5rem .3rem 0;
    border-radius: 2rem;
    transition:all ease .25s;
    &:hover {
      cursor:pointer;
      .material-icons {
        transition:all ease .3s;
      }
    }
  }
  .files {
    margin-bottom: .5rem;
    //cursor:pointer;
    .badge {
      padding:.35rem .5rem;
      margin-right:.25rem;
      font-weight:800;
    }
  }
  .newcontent-metas {
    > div {
      display:flex;
      flex-wrap:wrap;
      padding:0;
    }
    p {
      font-size:.9rem;
      strong {
        margin-right:.4rem;
       // font-weight:600;
        font-size: .85rem;
        font-weight: 700;
      }
      margin:0;
    }
  }
}


























/*

.ncgreen {



.newcontentbox {

  background:lighten(@ncgreen, 58%);
  background:  linear-gradient(194deg, lighten(@ncgreen, 5%) 0%, lighten(@baseflash, 50%) 120%);

  
  a {
    color:darken(@newcontentcolor2,25%);
  }
  
  .next-icon {
    background:@ncgreen2;
    color:white;
    border-radius:10rem;
    text-decoration:none;
    padding:.25rem;
    font-size:2.5rem;
    transition:all ease .25s;
    &:hover {
      cursor:pointer;
      background:darken(@ncgreen2,5%);
      transform:scale(1.1);
      text-decoration:none;
    }
  }
  .newcontent-metas {
    > div {
      padding:0;
      display:flex;
      flex-wrap:wrap;
    }
    .badge {
      background:#fff;
      font-weight:400;
      font-size:.8rem;
      padding:.3rem .6rem;
      border-radius: 2rem;
      display:inline-flex;
      align-items:center;
      justify-content: center;
      transition:all ease .25s;
      margin:.3rem .5rem .3rem 0;
      color:#000;
      .material-icons {
        color:#999; 
      }
      &:hover {

        cursor:pointer;
        box-shadow: 0px 0px 0px 3px darken(@ncgreen2,5%);
        .material-icons {
          color:#444; 
          transition:all ease .3s;
          &:hover {
            color:#000;
          }
        }
      }
    }
    .files {
      margin-bottom: .5rem;
      cursor:pointer;
      .badge {
        padding:.35rem .5rem;
        margin-right:.25rem;
        color:white;
        font-weight:800;
        background:darken(@ncgreen2,5%);  
      }
      &:hover {
        .badge {
          background:darken(@ncgreen2,10%);
          transform:scale(1.05);
        }
      }
    }
  }
}
.nc-flag {
  box-shadow:none !important;
  width:15px !important;
}
.nc-label {
  font-weight:600;
  font-size:.9rem;
  flex-shrink: 0;
}


.newcontent-bottom {}


.ipx-intro.newcontentbox {
    .container-regular {
        position:relative;
        .link-icon {
            position:absolute;
            top:auto;
            bottom:-5.5rem;
            left:-.75rem;
            font-size:4rem;
          }
    }
    
}



.newcontent-card {
  position:relative;
  .ipx-card-content {
    padding-bottom:.7rem;
  }
  .ipx-card-title {
    display:flex;
    align-items:center;
  }
  &.result-item {

    .ipx-card-title {
      
    }
    &::before {
      display:none;
    }
  }
  &::before {
    content:"";
    position:absolute;
    top:-2px;
    left:-2px;
    bottom:-2px;
    width:6px;
    background:lighten(@newcontentcolor, 58%);
  background:  linear-gradient(194deg, lighten(@newcontentcolor, 20%) 0%, lighten(@baseflash, 45%) 100%);
    border-radius:.3rem 0 0 .3rem;
  }
  &:hover {
    border-color:lighten(@newcontentcolor, 15%);
    &::before {
      border-radius:.3rem 0 0 .3rem;
      background:lighten(@newcontentcolor, 58%);
      background:  linear-gradient(194deg, lighten(@newcontentcolor, 10%) 0%, lighten(@baseflash, 35%) 100%);
    }
  }
  .link-icon {
    padding:0;
    margin-top:-.4rem;
    font-size:2rem;
    color:darken(@newcontentcolor2,5%);
    transform:rotate(-15deg);
  }
}
.md-14 {
  font-size:14px;
}
}*/