/* //////////////////////////////////////////////////// */
/* CARD BOXES */
/* //////////////////////////////////////////////////// */

.card-wrapper {
  width: 100%;
}

.ipx-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: 0.85rem;
  background: #fff;
  border: 2px solid @gray2; //#F1F1F1
  color: @darkgray;
  transition: all ease 0.3s;
  border-radius: @border-radius-lg;
  &:hover {
    text-decoration: none;
    border: 2px solid @baseflash;
    cursor: pointer;
    h3 {
      color: @baseflash;
    }
  }
  /* ///////////////////// CARD CONTENTS ///////////////////// */
  a {
    display: flex;
    flex-direction: column;
    color: @darkgray;
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
  h3 {
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: black;
    &.ipx-card-title {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5rem;
    }
  }
  .ipx-card-content {
    width: 100%;
    max-width: 100%;
    padding: 1.3rem;
    @media @md-down {
      padding: 1rem;
    }
  }
  &.ipx-thin-card {
    .ipx-card-content {
      padding: 0.5rem 0.6rem;
      align-items: center;
    }
  }
  &.has-menu {
    .ipx-card-content {
      padding-right: 0;
    }
  }
  .ipx-card-description {
    padding-top: 0.25rem;
    margin-bottom: 0;
  }
  .ipx-card-footer {
    margin-top: 0.75rem;
  }
  &.ipx-card-event {
    .ipx-card-title {
      flex-grow:1;
    }
    .ipx-card-description {
      padding-top: 1rem;
    }
    .ipx-card-footer {
      margin-top: 0.25rem;
      small {
        display:flex;
        align-items:flex-end;
        /*.pointer-icon {
          color: #e90c0c;
        }*/
      }
    }
  }
  .ipx-card-menu {
    .btn-disc {
      margin-top: 0.25rem;
      background: white;
      transition: all ease 0.3s;
      &:hover,
      &[aria-expanded="true"] {
        color: @baseflash;
      }
    }
    .dropdown-menu {
      background: white;
      border: 1px solid @gray3;
      border-radius: @border-radius;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          a {
            padding: 0.25rem 1.25rem;
            &:hover {
              color: @baseflash;
            }
          }
          &:first-child {
            a {
              padding-top: 0.75rem;
            }
          }
          &:last-child {
            a {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  &.ipx-nolink-card {
    a {
      color: @baseflash;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      &.btn {
        color: @darkgray;
        &:hover {
          color: @baseflash;
          text-decoration: none;
        }
      }
    }
    &:hover {
      border: 2px solid #111;
      cursor: default;
    }
  }
}

.card-tag {
  /* fix: check if used */
  display: flex;
  padding: 0.2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* //////////////////////////////////////////////////// */
/* CARD WITH IMAGE */
/* //////////////////////////////////////////////////// */

.ipx-img-card {
  a {
    flex-direction: row;
  }
  h3 {
    display: flex;
    align-items: center;
    @media @md-up {
      padding-top: 0.5rem;
    }
  }
  .ipx-card-thumb {
    align-self: flex-start;
    width: 120px;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    background: @gray3;
    border-radius: @border-radius;
    &.mini-thumb {
      min-width: 50px;
      width: 50px;
      max-width: 50px;
      height: auto;
      + h3 {
        @media @md-up {
          padding-top: 0;
        }
      }
    }
    @media @md-down {
      width: 80px;
      height: 80px;
      min-width: 80px;
      max-width: 80px;
    }
    @media @sm-down {
      width: 40px;
      height: 40px;
      min-width: 40px;
      max-width: 40px;
    }
    + div {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 1.5rem;
      @media @sm-down {
        padding-left: 1rem;
      }
    }
  }
}

/* //////////////////////////////////////////////////// */
/* CARD LISTS */
/* //////////////////////////////////////////////////// */

.ipx-card-list {
  display: flex;
  padding: 0.75rem 0;
  flex-wrap: wrap;
  .ipx-card {
    width: 100%;
    margin: 0;
    margin-bottom: @margincard;
  }
}

.ipx-card-list-2col {
  @media @sm-up {
    .ipx-card {
      width: calc(50% - 0.75rem);
      margin-right: @margincard;
      &:nth-child(2n + 2) {
        width: 50%;
        margin-right: 0;
      }
    }
  }
}

.ipx-card-list-3col {
  @media @md-only {
    .ipx-card {
      width: calc(50% - 0.75rem);
      margin-right: @margincard;
      &:nth-child(2n + 2) {
        width: 50%;
        margin-right: 0;
      }
    }
  }
  @media @lg-up {
    .ipx-card {
      width: calc(33.3333% - 0.75rem);
      margin-right: @margincard;
      &:nth-child(3n + 3) {
        margin-right: 0;
        width: 33.3333%;
      }
    }
  }
}

.ipx-card-list-4col {
  @media @sm-only {
    .ipx-card {
      width: calc(50% - 0.75rem);
      margin-right: @margincard;
      &:nth-child(2n + 2) {
        margin-right: 0;
        width: 50%;
      }
    }
  }
  @media @md-only {
    .ipx-card {
      width: calc(33.3333% - 0.75rem);
      margin-right: @margincard;
      &:nth-child(3n + 3) {
        margin-right: 0;
        width: 33.3333%;
      }
    }
  }
  @media @lg-up {
    .ipx-card {
      width: calc(25% - 0.75rem);
      margin-right: @margincard;
      &:nth-child(4n + 4) {
        width: 25%;
        margin-right: 0;
      }
    }
  }
}

/* ////////////////////////////////////////////////////////// */
/* PERSON CARD (Used in IPEX Board)  */
/* ////////////////////////////////////////////////////////// */

.ipx-person-card {
  h5 {
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
  }
  .email,
  .phone {
    display: flex;
    flex-wrap: nowrap;
    a {
      color: @baseflash;
      word-break: break-all;
      margin-left: 0.5rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.ipx-chair-card {
    max-width: 100%;
    width: 100%;
    flex-shrink: 0;
    border-color: @baseflash;
    .flag {
      border: 1px solid #ddd;
      background-size: cover;
      border-radius: 2px;
    }
  }
  .chamber {
    padding-top: 0.25rem;
    margin-bottom: 0.75rem;
    font-weight: 300;
  }
}

/* /////////////////////////////////////////////////////////// */
/* COUNTRY CARD (Used in secretaries and correspondents lists) */
/* /////////////////////////////////////////////////////////// */

.ipx-country-card {
  .chamber {
    padding-top: 0.25rem;
    &:first-child {
      margin-right: 2rem;
    }
  }
  a {
    color: @baseflash;
    &.underline {
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
  .secretaries {
    + .secretaries {
      margin-top: 1rem;
    }
    .buttons {
      display: none !important;
      @media @sm-down {
        display: flex !important;
      }
    }
  }
}

/* /////////////////////////////////////////////////////////// */
/* HIGH ACTIVITY DOCS CARDS */
/* /////////////////////////////////////////////////////////// */

.ipx-card-high {
  @media @sm-down {
    width: 100% !important;
  }
  &.is-yellow {
    border-left: @yellow-card solid 7px;
    &:hover {
      border-color: @yellow-card;
    }
  }
  &.is-orange {
    border-left: @orange-card solid 7px;
    &:hover {
      border-color: @orange-card;
    }
  }
  .ipx-card-content {
    padding: 1.75rem 1.75rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .ipx-card-description {
    position: relative;
    width: 100%;
    margin-right: -1em;
    padding-right: 1em;
    font-weight: 400;
  }
  .document-activity {
    font-size: 0.9rem;
  }
}

.document-activity {
  button {
    min-width:20px;
  }
  strong {
    min-width:15px;
    display:inline-flex;
    padding:0 .25rem;
  }
}

/* /////////////////////////////////////////////////////////// */
/* SCRUTINY CARDS */
/* /////////////////////////////////////////////////////////// */

.ipx-card-scrutiny {
  display: flex;
  flex-direction: column;
  border-color: white;
  color: #000;
  @media @sm-down {
    padding: 0 !important;
    &:hover {
      border-color: white !important;
    }
  }
  .chamber,
  .country {
    font-size: 0.9rem;
    display: inline-flex;
    margin-bottom: 0.3rem;
  }
  .country {
    font-weight: 300;
  }
  .chamber {
    font-weight: 600;
  }
  &:hover {
    border-color: @baseflash;
    .chamber,
    .country {
      color: #000000;
    }
  }
  .progress {
    margin-bottom: 0.3rem;
    height: 0.3rem;
  }
}

.ipx-card-list-3col .ipx-card {
  &.ipx-card-scrutiny {
    padding: 0.75rem;
  }
}

/* /////////////////////////////////////////////////////////// */
/* HOMEBLOCK CARDS */
/* /////////////////////////////////////////////////////////// */
.home-card {
  .ipx-card-title {
    display: flex;
    flex-direction: column;
    @media @sm-up {
      flex-direction: row;
    }
  }
  .badges-categories {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    .badge {
      background-color: @gray3;
      color: #000;
      font-weight: 300;
      font-size: 0.9rem;
      padding: 0.4rem 0.6rem;
      border-radius: @border-radius;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid @gray3;
      transition: all ease 0.3s;
      &:hover {
        background: darken(@gray3, 5%);
      }
    }
  }
}
.bordered-cards {
  .ipx-card {
    border: none;
    border-radius: 3px;
    @media @md-up {
      border-left: 3px solid #ccc;
    }
    .ipx-card-content {
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
    }
    &.home-share {
      border-color: @base;
    }
    &.home-high {
      border-color: @accent;
    }
    &.home-events {
      border-color: @cyan;
    }
    &.home-news {
      border-color: @gray1;
    }
  }
}

/* CARD FILES */

.ipx-card-files {
  //margin-top:.75rem !important;
  //border:1px solid #ddd !important;
  + .ipx-card-files {
    //margin-top:0 !important;
  }
  .ant-collapse {
    //border:none;
    border: none !important;
    background-color: white;
    margin: 0;
    > .ant-collapse-item {
      border: none;
    }
    .ipx-list-files {
      margin-bottom: 0;
      li {
        padding: 0 0 0.75rem;
        &:hover {
          a {
            color: @baseflash;
          }
        }
      }
    }
    .ant-collapse-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      border: none;
      background: none;
      font-size: 1.2rem;
      color: #000;
      padding: 0.75rem 0;
      line-height: inherit;
      .ant-collapse-arrow {
        position: relative;
        line-height: inherit !important;
        background: #f1f1f1;
        width: 30px;
        height: 30px;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        //top: 0.85rem;
        left: auto;
        font-size:.9rem;
        line-height:0;
        //transform: none;
        order: 1;
      }
    }
    .ant-collapse-content {
      border: none;
      > .ant-collapse-content-box {
        padding: 1rem 0;
      }
    }

    .ant-collapse {
      border: none;
      margin: 0;
      > .ant-collapse-item {
        border: none;
        margin-bottom: 0.5rem;
        > .ant-collapse-header {
          font-weight: 600;
          border: none;
          background: #f5f5f5;
          font-size: 0.9rem;
          border-radius: 0.5rem;
          padding: 0.4rem 0 0.4rem 1.35rem;
          @media @md-up {
            border-radius: 5rem;
            padding: 0.25rem 0 0.25rem 1.25rem;
          }
          .ant-collapse-arrow {
            right: 0.5rem;
            background: #f5f5f5;
          }
        }
        &.ant-collapse-item-active {
          > .ant-collapse-header {
          }
        }
      }
    }
  }
}

// ACCORDION

.accordion {
  .collapse {
    margin-top:1rem;
    margin-bottom: 0;  
  }
  h3 {
    font-size:1.1rem !important;
    border-top:none !important;
  }
  .ipx-accordion-item {
    &:last-child {
      h3 {
        &.list-title[aria-expanded="false"] {

            border-bottom:none !important;

        }
      }
    }
  }
}
.ipx-card-link-category {
  font-weight:700;
   display:block;
  margin-top:1rem;

}
.ipx-card-link-category::before {
  /*content:"—";
  margin-right:10px;*/
 
}
.collapsable-list-wrapper .collapse.show {
  margin-bottom:4rem;
}
