.document-main {
  .document-info {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  table {
    tr {
      td {
        .cell {
          padding: 6px 8px;
          width: 100%;
          height: 100%;
          .e-editable-value {
            color: lighten(@primary-color, 30%);
            border-bottom: 1px dashed lighten(@primary-color, 60%);
          }
          .anticon {
            opacity: 0;
          }
          &:hover {
            cursor: pointer;
            background: #f4f4f4;
            .e-editable-value {
              color: lighten(@primary-color, 30%);
              border: 1px dashed transparent;
            }
            .anticon {
              opacity: 1;
            }
          }
        }

        .cellInput {
          border: 2px solid transparent;
          padding: 11px 20px;
          width: 100%;
          height: 100%;
        }
      }
      td.editable-area {
        color: lighten(@primary-color, 30%);
        cursor: cell;
        display: block;
        min-height: 19px;
        padding: 3px 10px;
        border-bottom: 1px dashed lighten(@primary-color, 60%);
        margin: 3px 0px;
        .edit-icon {
          opacity: 0;
        }
        .ant-select-selection {
          background: transparent;
        }
        .ant-calendar-picker-input {
          background: transparent;
        }
        input {
          border: 0px;
          padding: 0;
          margin: 0;
        }
        &:hover {
          border-bottom: 1px solid transparent;
          background: #f4f4f4;
          border-radius: 0;
        }

        .ant-calendar-picker-input {
          border: 0;
          color: lighten(@primary-color, 30%);
        }
        .ant-calendar-year-panel-selected-cell {
          color: #fff;
        }
        .ant-select-open .ant-select-selection {
          box-shadow: none;
        }
        .ant-select-search {
          input {
            border: none;
          }
        }
      }
    }
  }
  .editable-area {
    .ant-select-selection,
    .ant-calendar-picker-input {
      border: 0;
      padding-left: 0;
      color: lighten(@primary-color, 30%);
      cursor: pointer;
    }
    .ant-select-selection {
      .ant-select-selection__rendered {
        margin-left: 0;
        cursor: pointer;
      }
    }
  }
}

.card-eurovooc {
  display: block;
  height: 600px;
  overflow-y: auto;
}
