/* //////////////////////////////////////////////////// */
/* FIRST LEVEL STYLES */
/* //////////////////////////////////////////////////// */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  &:not(.tabbing-user) {
    a,
    button,
    input,
    select,
    textarea {
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  box-shadow: none;
}

/* //////////////////////////////////////////////////// */
/* PRINT STYLES */
/* //////////////////////////////////////////////////// */

@media print {
  .noprint {
    display: none !important;
  }
}

/* //////////////////////////////////////////////////// */
/* TYPOGRAPHY */
/* //////////////////////////////////////////////////// */

mark,
.mark {
  padding: 0;
  background-color: @mark;
}

/* Arrow in small span in card footer */
.small {
  .utf-8 {
    font-size: 1rem;
  }
}

.noborder {
  border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  padding-top: 0.75rem;
  font-weight: 400;
  margin-bottom: 0;
  &.section-title,
  &.detail-title {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.7rem;
  }
  &.sub-section-title {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    font-weight: 600;
  }
}

.ipx-content {
  /*fix*/
  .page-title {
    font-size: 1.5rem;
    padding-top: 0;
    font-weight: 600;
    @media @md-down {
      font-size: 1.7rem;
      width: 100%;
      display: flex;
      + .detail-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
      }
    }
  }
}

.ellipsis {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* //////////////////////////////////////////////////// */
/* BUTTONS */
/* //////////////////////////////////////////////////// */

.btn {
  transition: all ease 0.3s;
  &.disabled,
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.btn-xl {
  padding: 0.7rem 1.3rem;
  border-radius: @border-radius-xl;
}
.btn-large {
  padding: 0.75rem 1.75rem !important;
  font-size: 1.1rem !important;
}
/*
.btn-large {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: .75rem 1.6rem;
    border-radius: 2rem;
    background: #f5f5f5;
    text-transform: uppercase;
}*/
.btn-thin {
  padding: 0.25rem 0.85rem !important;
  font-size: 0.9rem !important;
}
.btn-active {
  color: @baseflash;
  &:hover {
    color: @baseflash;
  }
}

.btn-light {
  color: #212529;
  background-color: @gray2 !important;
  border-color: #f8f9fa;
}
.btn-white {
  background: white !important;
  &:hover {
    color: @baseflash;
  }
}

.btn-disc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: @gray2;
}

.btn-load {
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background: @gray3;
  border-radius: 2rem;
  text-transform: uppercase;
  &:hover {
    background: darken(@gray3, 5%);
  }
}

.btn-action {
  background: @gray3;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  font-size: 0.95rem;
  border-radius: 2rem;
  transition: all ease 0.3s;
  + .btn-action {
    margin-left: 0.5rem;
  }
  &:hover {
    background: darken(@gray3, 5%);
  }
  &.btn-flash {
    background: @baseflash;
    color: white !important;
    &:hover {
      cursor: pointer;
      background: darken(@baseflash, 5%);
      color: white !important;
    }
  }
  &.btn-danger {
    background: @red;
    color: white;
    &:hover {
      cursor: pointer;
      background: darken(@red, 5%);
    }
  }
  &.btn-bordered {
    background: white;
    color: @base;
    border: 1px solid @base;
    &:hover {
      cursor: pointer;
      border: 1px solid darken(@base, 5%);
      color: @baseflash;
    }
  }
}
.btn-icon-right {
  padding-right: 0.5rem !important;
  .material-icons {
    margin-left: 0.3rem;
  }
}
/*
.icon-rounded {
  background:@gray3;
  padding:.1rem;
  border-radius:1rem;
  display:flex;
  justify-content: center;
  align-items:center;
  &:hover {
    cursor: pointer;
    background: darken(@gray3, 5%);
  }
  &.icon-flash {
    background:@baseflash;
    color:white;
    &:hover {
      background: darken(@baseflash, 5%);
    }
  }
}*/
.btn-only-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 2rem !important;
  background: @gray3;
  border: none;
  color: #000;
}
[aria-expanded="true"] .btn-only-icon {
  transform: rotate(180deg);
}

/* //////////////////////////////////////////////////// */
/* BADGES */
/* //////////////////////////////////////////////////// */

.badge-indicative {
  background: lighten(@base, 60%);
}

/* //////////////////////////////////////////////////// */
/* IMAGES */
/* //////////////////////////////////////////////////// */

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
}

/* //////////////////////////////////////////////////// */
/* THUMBNAILS */
/* //////////////////////////////////////////////////// */

.ipx-thumb {
  width: 160px;
  max-width: 160px;
  height: auto;
  margin-right: 2rem;
  border-radius: @border-radius;
}

.ipx-thumb-caption {
  margin-top: 1rem;
}

.ipx-intro,
.detail-intro {
  .ipx-thumb {
    width: 160px;
    max-width: 160px;
    height: 160px;
    margin-right: 2rem;
    border-radius: @border-radius;
    @media @sm-down {
      width: 130px;
      max-width: 130px;
      height: 130px;
    }
    @media @xs-down {
      width: 25vw;
      max-width: 25vw;
      height: 25vw;
      margin-right: 0;
      margin-bottom: 1.75rem;
      border-radius: 200px;
      //background:darken(@gray3, 5%);
      background: lighten(@base, 62%);
      padding: 0.5rem;
    }
  }
}

/* //////////////////////////////////////// */
/* DEV ONLY */
/* //////////////////////////////////////// */
/*
.ongoing {
  background: @green;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
}
*/
.page-enter-active {
  transition: opacity 0.2s ease-out;
  opacity: 1;
}
.page-leave-active {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
