@featured-width: 60%;

.visual-layout {
  .bg-intro {
    padding-bottom: 1.5rem;
  }
  h1 {
    color: white;//color-yiq(@base);
    font-weight: 300;
    margin-bottom: 0;
    font-size: 2rem;
    padding-top: 0;
  }
  .flag {

  }
  .white-box {
    border-radius: @border-radius;
    background: white;
    h5 {
      font-weight: 400;
      &.name {
        font-weight: 600;
      }
    }
    .legend {
      color: #666;
      font-size: .9rem;
      justify-content: center;
      padding: .2rem 1rem;
      display: flex;
    }
  }
  .featured-image,
  .has-zoom {
    height: auto;
    position: relative;
    .material-icons {
      position: absolute;
      right: .5rem;
      top: .5rem;
      color: white;
      opacity: .4;
      transition: all ease .3s;
    }
    &:hover {
      .material-icons {
        opacity: 1;
      }
    }
    img {
      border-radius: @border-radius;
    }
  }
}

.conference-logo {
  min-width:180px;
  figcaption {
    color:#999;
    font-size:.8rem;
    text-align: center;
    margin-top:1rem;
  }
  @media @md-down {
    min-width:250px;
    max-width:60%;
    text-align:center;
  }
}

.alert-conference {
  border: none;
  background: @gray3;
  border-left: 5px solid @baseflash;
  border-radius: @border-radius;
  padding-left: 1.5rem;
  ul {
    padding-left: 1rem;
    margin-top: 1rem;
  }
}

.parliament-websites {
  margin-bottom:2.5rem;
  h5 {
    margin:0;
    padding:0;
    font-size:1rem;
    font-weight:700;
    padding:.25rem 0 .75rem;
  }
  a {
    background:#fff;
    font-size:.95rem;
    padding:.2rem .75rem;
    margin-right:.5rem;
    margin-bottom:.5rem;
    border-radius: 5rem;
    color:#000;
    .material-icons {
      font-size:18px;
      opacity:.85;
    }
    &:hover {
      color:@baseflash;
      text-decoration:none;
      .material-icons {
        opacity:1;
      }
    }
  }
}
/*
$theme0: $base;
$theme1: #04a58f;
$theme2: rgb(67, 57, 119);
$theme3: yellow;
$theme4: orange;
$theme5: purple;
$theme6: violet;
$theme7: brown;
$theme8: cyan;
$theme9: green;
$theme10: lightgreen;
$conferences:   (theme0, $theme0),
                (theme1, $theme1),
                (theme2, $theme2),
                (theme3, $theme3),
                (theme4, $theme4),
                (theme4, $theme5),
                (theme4, $theme6);

@each $themes, $color in $conferences {
    .conference-#{$themes} {
        .internal-navigation {
            li {
                .nav-link {
                    color: color-yiq($color);
                    font-weight: 600;
                    text-transform: uppercase;
                    margin: 0 .5rem;
                    //text-shadow: 0px 0px 6px $color;
                    &.active {
                        background: darken($color, 30%); //rgba(255, 117, 168, 0.85);
                        color: color-yiq(darken($color, 30%));
                    }
                }
            }
        }
        .bg-intro {
            background: linear-gradient( -45deg, rgba($color, 0.55) 0%, rgba($color, 0.85) 100%), url('/img/parliaments/large/austria/building.jpg');
            background-size: cover;
            background-position: 0 center;
            .btn-only-icon {
                background: darken($color, 20%);
                color: color-yiq(darken($color, 20%));
            }
        }
        .alert-conference {
            border-left-color:$color;
        }
    }
}
*/

.conference-theme0 .internal-navigation li .nav-link {
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
  margin:0 .5rem
}
.conference-theme0 .internal-navigation li .nav-link.active {
  background:#010304;
  color:#fff
}
.conference-theme0 .bg-intro {
  background:linear-gradient(-45deg, rgba(23, 82, 135, 0.55), rgba(23, 82, 135, 0.85)), url(../../assets/img/samples/sample-background.jpg);
  background-size:cover;
  background-position:0
}
.conference-theme0 .bg-intro .btn-only-icon {
  background:#081d30;
  color:#fff
}
.conference-theme0 .alert-conference {
  border-left-color:#175287
}
.conference-theme1 .internal-navigation li .nav-link {
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
  margin:0 .5rem
}
.conference-theme1 .internal-navigation li .nav-link.active {
  background:#00100e;
  color:#fff
}
.conference-theme1 .bg-intro {
  //background:linear-gradient(-45deg,rgba(4,165,143,.55),rgba(4,165,143,.85)),url(../../assets/img/samples/sample-background.jpg);
  background:linear-gradient(-45deg, rgba(23, 82, 135, 0.55), rgba(23, 82, 135, 0.85)), url(../../assets/img/samples/sample-background.jpg);
  background-size:cover;
  background-position:0
}
.conference-theme1 .bg-intro .btn-only-icon {
  background:#024139;
  color:#fff
}
.conference-theme1 .alert-conference {
  border-left-color:#04a58f
}
.conference-theme2 .internal-navigation li .nav-link {
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
  margin:0 .5rem
}
.conference-theme2 .internal-navigation li .nav-link.active {
  background:#090710;
  color:#fff
}
.conference-theme2 .bg-intro {
  //background:linear-gradient(-45deg,rgba(67,57,119,.55),rgba(67,57,119,.85)),url(../../assets/img/samples/sample-background.jpg);
  background:linear-gradient(-45deg, rgba(23, 82, 135, 0.55), rgba(23, 82, 135, 0.85)), url(../../assets/img/samples/sample-background.jpg);
  background-size:cover;
  background-position:0
}
.conference-theme2 .bg-intro .btn-only-icon {
  background:#1c1832;
  color:#fff
}
.conference-theme2 .alert-conference {
  border-left-color:#433977
}
.conference-theme3 .internal-navigation li .nav-link {
  color:#fff;
  font-weight:600;
  text-transform:uppercase;
  margin:0 .5rem
}
.conference-theme3 .internal-navigation li .nav-link.active {
  background:rgba(25, 41, 165, 0.85);
  color:#fff
}
.conference-theme3 .bg-intro {
  //background:linear-gradient(-45deg,rgba(94,98,128,.55),rgba(13,30,155,.85)),url(../../assets/img/samples/sample-background.jpg);
  background:linear-gradient(-45deg, rgba(23, 82, 135, 0.55), rgba(23, 82, 135, 0.85)), url(../../assets/img/samples/sample-background.jpg);
  background-size:cover;
  background-position:0
}
.conference-theme3 .bg-intro .btn-only-icon {
  background:rgba(25, 41, 165, 0.85);
  color:#fff
}
.conference-theme3 .alert-conference {
  border-left-color:rgba(0,30,255,.85)
}
.conference-theme4 .internal-navigation li .nav-link.active {
  background:#664200
}
.conference-theme4 .bg-intro {
  //background:linear-gradient(-45deg,rgba(255,165,0,.55),rgba(255,165,0,.85)),url(../../assets/img/samples/sample-background.jpg);
  background:linear-gradient(-45deg, rgba(23, 82, 135, 0.55), rgba(23, 82, 135, 0.85)), url(../../assets/img/samples/sample-background.jpg);
}
.conference-theme4 .bg-intro .btn-only-icon {
  background:#996300
}
.conference-theme4 .alert-conference {
  border-left-color:orange
}
.conference-theme4 .internal-navigation li .nav-link {
  color:#fff
}
.meeting-illu {
  min-width:300px;
  max-width:300px;
  @media @md-down {
    max-width:100%;
  }
  img {
    max-width:100%;
    border-radius:@border-radius;
  }
  figcaption {
    margin-top:.5rem;
    font-size:.9rem;
    color:#666;
  }
}