.sharing-module {
   display:flex;
   flex-wrap:wrap;
   justify-content: center;
   align-items:center;
   padding:1.5rem 1rem 0;
   background:@baseverydark;
   transition:all ease .2s;
   &:hover {
      a {
         opacity:.75;
      }
   }
   a {
      display:flex;
      justify-content: center;
      align-items:center;
      padding:.3rem;
      margin:.2rem;
      border-radius:5rem;
      background:white;
      border:3px solid @baseverydark;
      opacity:.4;
      transition:all ease .2s;
      svg {
         width:22px;
         height:auto;
         fill:@baseverydark;
      }
      &:hover {
         opacity:1;
         border-color:@baseflash;
      }
   }
   + .ipx-footer {
      > div {
         &.py-5 {
            padding-top:2rem !important;
         }
      }
   }
}