/* ////////////////////////////////////////////////////////////////// */
/* DATEPICKER custom
/* ////////////////////////////////////////////////////////////////// */

.ipx-datepicker {
  background:#f9f9f9 !important;
  padding:0 !important;
  margin:1.25rem 0 0;
  border-radius:.75rem;
}
.ipx-datepicker .mat-calendar {
  width: 100%;
  padding: .5rem;
  font-size:14px !important;
}
.isolang {
  background:#fff;
  width:18px;
  font-size:1rem;
  display:inline-flex;
  justify-content:flex-start;
  align-items:center;
}
.language-zone .dropdown-item {
  padding: .25rem 1.5rem .25rem 1rem;
  transition: all ease .1s;
  &.current-lang {
    color:@baseflash !important;
  }
  &:hover {
    color:@baseflash !important;
  }
}

/* ////////////////////////////////////////////////////////////////// */
/* ONGOING Class for elements in development (not fully functional)
/* ////////////////////////////////////////////////////////////////// */

@inprogresscolor: rgb(252, 68, 1);
@inprogresscolorlight: lighten(@inprogresscolor, 40%);

.ongoing {
  position:relative;
  border:@inprogresscolor 1px dashed;
  border-radius:4px;
  &::before {
    content:"In progress";
    background:@inprogresscolor;
    color:white;
    position:absolute;
    top:-1px;
    left:-1px;
    font-weight:600;
    font-size:10px;
    text-transform: uppercase;
    z-index:101;
    padding:.1rem .4rem .2rem .3rem;
    border-radius:4px 0 4px 0;
    
  }
  &::after {
    display:flex;
    justify-content: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    background:#f1f1f1;
    content:"";
    opacity:.75;
    border-radius:4px;
  }
}

.dropdown-menu.dropdown-menu-search:hover {
  display:block;
}
.trigger-search:hover {
  + .dropdown-menu {
    &.dropdown-menu-search {
      display:block;
    }
  }
}

.forgot {
  a {
     color:#666;
    &:hover {
      color:@baseflash;
        text-decoration:none;
    }
  }
}
.ce-toolbar__content,
.ce-block__content,
.cdx-block {
  max-width:100%;
  width:100%;
}
h2 {
  &.ce-header {
    display:block;
    padding-top: 2rem;
    //margin-bottom: 1rem !important;
    font-weight: 700;
    font-size: 1.7rem;
  }
}

.editable {
  position:relative;
  .editable-icon {
    position:absolute;
    top:0;
    right:0;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    height:36px;
    width:36px;
    padding:.3rem .8rem;
    font-size:20px;
    color:rgb(196, 196, 196);
    border-radius:5rem;
    background:white;
    transition:all ease .3s;
    animation: colorblink 3s infinite;
    border:4px solid rgb(196, 196, 196);
    &:hover {
      opacity:1;
      cursor:pointer !important;
      border:4px solid rgb(238, 82, 43);
      background: rgb(238, 82, 43);
      color:white !important;
    }
  }
  &:hover {
    .editable-icon {
      opacity:1;
      cursor:pointer !important;
    }
  }
}

@keyframes colorblink { 
  0% {}
  50% { 
    color:rgb(238, 82, 43);
    border:4px solid rgb(238, 82, 43); 
  } 
}