@primary-color : #01579b;
@btn-primary-bg: #3f4355;
@mainColor: #292c43;
@orange: #fd7e14;
@yellow: #ffc107;

@contrastColor: #77eaff;
@mainTextColor: rgb(22, 22, 22);
@white: #fff;
@font-size-base: 14px;
@layout-sider-background: @mainColor;
