<template>
	<div class="ipx-drawer">
		<aside class="sidebar" :style="style" ref="element">
			<h2 class="drawer-title shadow-sm px-2 px-md-5">
				<img src="/icons/ipx-icon-search-small.svg" alt="Search">
				<span>Advanced search</span>
				<span class="drawer-title-text flex-grow-1">
                    <!-- insert section title here. (Documents, Calendar, Parliaments, etc.) -->
                </span>
				<i class="material-icons md-36" @click="closeMenu()">clear</i>
			</h2>
			<div class="drawer-body px-2 px-md-5">
				<!-- INSERT SECTION ADVANCED SEARCH FORM -->
			</div>
			<div class="drawer-bottom shadow px-2 px-md-5">
				<button class="btn btn-large btn-action" @click="closeMenu()">Cancel</button>
				<a href="/advanced-search/results-documents" class="btn btn-large btn-action btn-flash">Search</a>
			</div>
		</aside>
		<div class="overlay" ref="overlay"></div>
	</div>
</template>