<div class="d-flex flex-column flex-grow-1">
    <div class="breadcrumb-container">
      <!-- Insert breadcrumb -->
    </div>
    <div class="ipx-content container-regular mt-4">
        <div class="d-flex flex-column search-section-container">
            <h1 class="page-title mt-3">IPEX Advanced Search</h1>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo qui sapiente dicta cum quod, repudiandae molestias quibusdam atque nam dolor doloremque assumenda minus reiciendis recusandae in similique blanditiis, consequatur quos?</p>
            <h4 class="">What would you like to search?</h4>
            <div class="d-flex justify-content-center align-items-center search-sections mt-3 mb-0">

                <!-- Add class .selected to elements when selected -->

                <div class="section-select">
                    <div class="search-icon">
                        <img src="/icons/ipx-icon-searcheverything-large.svg" alt="Search Everything" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Everything</span></div>
                </div>
                <div class="section-select">
                    <div class="search-icon">
                        <img src="/icons/ipx-icon-calendar-large.svg" alt="Search Events" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Calendar</span></div>
                </div>
                <div class="section-select">
                    <div class="search-icon">
                        <img src="/icons/ipx-icon-documents-large.svg" alt="Search Documents" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Documents</span></div>
                </div>
                <div class="section-select">
                    <div class="search-icon">
                    <img src="/icons/ipx-icon-parliament-large.svg" alt="Search Parliament files" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Parliaments</span></div>
                </div>
                <div class="section-select">
                    <div class="search-icon">
                    <img src="/icons/ipx-icon-conferences-large.svg" alt="Search Conferences files" class="ipx-thumb">
                    </div>
                    <div class="item"><span>Conferences</span></div>
                </div>
                <div class="section-select">
                    <div class="search-icon">
                    <img src="/icons/ipx-icon-news-large.svg" alt="Search News" class="ipx-thumb">
                    </div>
                    <div class="item"><span>News</span></div>
                </div>
                
            </div>

            <!-- Sections below, hidden by default appear when corresponding items above are selected -->

            <div class="options-all">
                <div class="options-content">
                    <!-- Insert right here the advanced search form for Everything -->
                </div>
            </div>

            <div class="options-documents">
                <div class="options-content">
                    <!-- Insert right here the advanced search form for Documents -->
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action">Reset</button>
                        <a href="/advanced-search/results-documents" class="btn btn-large btn-action btn-flash">Search documents</a>
                    </div>
                </div>
            </div>

            <div class="options-events" v-if="EventsSelected">
                <div class="options-content">
                    <!-- Insert right here the advanced search form for Events -->
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action">Reset</button>
                        <a href="/advanced-search/results-calendar" class="btn btn-large btn-action btn-flash">Search events</a>
                    </div>
                </div>
            </div>

            <div class="options-parliaments" v-if="ParliamentsSelected">
                <div class="options-content">
                    <!-- Insert right here the advanced search form for Parliaments -->
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action">Reset</button>
                        <a href="/advanced-search/results-parliaments" class="btn btn-large btn-action btn-flash">Search parliaments files</a>
                    </div>
                </div>
            </div>

            <div class="options-conferences" v-if="ConferencesSelected">
                <div class="options-content">
                    <!-- Insert right here the advanced search form for Conferences -->
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-large btn-action">Reset</button>
                        <a href="/advanced-search/results-conferences" class="btn btn-large btn-action btn-flash">Search conferences files</a>
                    </div>
                </div>
            </div>

            <div class="options-news" v-if="NewsSelected">
                <!-- Insert right here the advanced search form for News -->
                <div class="trigger-search w-100 text-center mt-5">
                    <button class="btn btn-large btn-action">Reset</button>
                    <a href="/advanced-search/results-news" class="btn btn-large btn-action btn-flash">Search news</a>
                </div>
            </div>

            <!-- Display IPEX Widget just for Search everything (with no additional form) -->
            <IpexWidget class="mt-5"/>
        </div>  
    </div> 
</div>